[2020-12-15 11:26] Adnan-cds opened #421 "Contact card styling"

[2021-04-27 10:05] finnlewis opened #1 "Confirm name for new base theme and set up project."
To confirm: how we are naming things - anything or functional?

Estimate 3

[2021-04-27 10:36] finnlewis opened #2 "Theme refactor frontend: localgov_step_by_step"
# Sample - http://localgov.dev.mark.ie/adult-health-and-social-care/step-by-step/request-support-adult-step-step

- [x] Put the templates in place in the theme
- [x] Move styling into localgov_base theme.
- [x] confirm feature parity

Estimate: 5

[2021-04-27 10:37] finnlewis opened #3 "Template rationalisation: localgov_news"
Estimate: 2

[2021-04-27 10:40] finnlewis opened #4 "Template rationalisation: localgov_page_components"

[2021-04-27 11:01] ekes commented on #2
Wasn't this one of the modules where it made sense to impose some theming as it's functionality?

[2021-04-27 11:56] finnlewis opened #8 "Theme refactor frontend: localgov_services"
- [ ] Put the templates in place in the theme
- [ ] Move styling into localgov_base theme.
- [ ] confirm feature parity

Estimate: 13

Note: @markconroy and @msayoung thinks this might be bigger.

@todo: Split out the tasks if needed.

I've split this into 3 issues - one for each content type.

[2021-04-27 15:09] andybroomfield commented on #2
Yeah, some templates are going to be needed in this module for various views, otherwise it will be broken if just installing this module.

[2021-04-27 15:40] markconroy commented on #1
localgov_base was agreed in Slack and the repo has been created.

[2021-04-27 15:40] #1 closed

[2021-04-27 15:50] markconroy opened #5 "In a new theme, where should templates live?"
Let's open this issue to agree where templates and styling should live for our components.

When providing an option/suggestion, please think through benefits _and_ drawbacks to that approach.

[2021-04-27 16:04] markconroy commented on #5
One suggestion: move them all the the theme.

If we move them to the theme
- It's easier for us (and anyone else) to know exactly where to go to find each template
- The library for each component will have a predictable naming convention `{{ localgov_base/accordion }}`
- We can create a theme setting "Include localgov_base CSS" and "Include localgov_base JS" which can be turned on by default and

[2021-04-27 16:04] markconroy commented on #5
Another suggestion: keep them all in the respective modules.

If we do this:
- The modules can work without dependencies
- Modules are styled out of the box

I can't think of much more off the top of my head at the moment.

[2021-04-28 08:55] andybroomfield commented on #5
This leads me to re-ask a question which is how supported is installing the modules stand alone vs the distribution going to be. BHCC considers it esential to be able to use the modules without doing a full site rebuild.

Thats not to say templates can't move, and be used as an example. But it does make mainatainability a little difficult with updates. Could the modules still provide the equivilen

[2021-04-28 09:52] willguv commented on #5
Thanks for making this point @andybroomfield. I sometimes forget that Brighton & Hove is our best example of a council using some modules and not others. We need to take this into account and not put any barriers in place for you (and others)

[2021-04-28 10:03] markconroy commented on #5
Perhaps, then, for this project, we only move reusable templates to the new them, with sensible defaults?

This means:
- node.html.twig
- node--teaser.html.twig
- region.html.twig
- page.html.twig
- Etc

And we leave templates that are specific to modules in their modules.
- Step by step
- Alert banner
- Accordion
- other paragraph types, etc

Some of these templates in modules might then have cla

[2021-04-28 17:20] andybroomfield commented on #5
@markconroy That could work, it might be complicating it a little bit. I think the inbuilt module template if they exist should use generic names and maybe not assume anything about which grid is in use, like the work you have done with the Alert Banner.

Would it be too much duplication for the theme to then include versions of the templates with the localgov grid layout?

Thinking that in future

[2021-04-28 17:27] willguv commented on #5
@markconroy @andybroomfield I know that Croydon and Design Dave really like Bootstrap, so would want to properly understand a move away from that would mean for LGD and for them. I'll try to get a chat in the diary soon.

[2021-04-28 23:34] markconroy commented on #5
Thanks @willguv that could be a good chat to have.

Rather than wondering why we would move away from bootstrap, I'd like to understand what bootstrap brings to the project. Especially what it brings to the project that we can't create and easily maintain ourselves. I often see bootstrap used mostly for creating layouts, but as I mentioned above, we can have a very nice layout system in 30 lines o

[2021-04-29 07:07] willguv commented on #5
Am showing my ignorance of such things @markconroy. Agree that your chat would be a very good one to have. Would you be up for a short technical chat with product people who don’t really follow what Bootstrap, Tailwind etc are?

[2021-04-29 07:39] markconroy commented on #5
Yep, any time at all suits me.

[2021-04-29 11:49] markconroy commented on #5
I've created a Twitch with a demo of what I would like to use for our grid/layout system. It's 30 lines of CSS.

The Twitch is here - https://www.twitch.tv/videos/1004800800

I'll upload it to YouTube when it's finished processing on my computer.

[2021-05-18 14:59] finnlewis opened #6 "Research a range of councils / gov.uk in order to define best practice for design of our default theme"
From https://miro.com/app/board/o9J_lF7TOjE=/?moveToWidget=3074457358926359037&cot=14

[2021-05-18 15:00] finnlewis opened #7 "Help existing councils migrate to the new base theme"
This comes from our Theory of Change.

https://miro.com/app/board/o9J_lF7TOjE=/?moveToWidget=3074457358926359053&cot=14

Once we have a new base theme, we want to work with councils to help them migrate.

[2021-05-26 10:41] finnlewis opened #9 "Theme refactor frontend: Directories"
- [x ] Put the templates in place in the theme
- [ x] Move styling into localgov_base theme.
- [ x] confirm feature parity

- Directory Channel - http://localgov.dev.mark.ie/localgov-drupal-collaborators
- Directory Venu - http://localgov.dev.mark.ie/localgov-drupal-collaborators/annertech
- Directory Page - http://localgov.dev.mark.ie/adult-health-and-social-care/money-employment-and-training-dir

[2021-05-26 10:44] finnlewis opened #10 "Theme refactor frontend: header"
# Sample - http://localgov.dev.mark.ie

- [x] Put the templates in place in the theme
- [x] Move styling into localgov_base theme.
- [x] confirm feature parity

Notes:
- We are now printing branding block in header region (this region is never printed in localgov_theme)

[2021-05-26 10:45] finnlewis opened #11 "Establish frontend working group!"

[2021-05-26 10:48] msayoung opened #12 "Theme refactor frontend: regions"
# Sample: http://localgov.dev.mark.ie/libraries-leisure-and-culture/z-sports-and-activities

- [x] Put the templates in place in the theme
- [x] Move styling into localgov_base theme.
- [x] confirm feature parity

[2021-05-28 14:04] markconroy opened #13 "Theme refactor Frontend: Page Title Block"
- [x] Put the templates in place in the theme
- [x] Move styling into localgov_base theme.
- [x] confirm feature parity

Estimate: 2

[2021-05-28 14:08] markconroy commented on #13
Some notes so far:

1. Template has been moved from localgov_core/templates to theme
2. Template HTML is rewritten so we don't have a `.header` class, which should be reserved for the `<header>` element.
3. Instead the title now has a BEM name class of `.lgd-page-title-block__title`, however our default `h1` styling is enough, so this should only be needed for sub-themes.
3. The "subheader" now ha

[2021-06-01 11:50] markconroy opened #14 "Theme refactor frontend: localgov_services_landing_page"
# Sample page: http://localgov.dev.mark.ie/births-deaths-marriages-and-citizenship

- [x] Put the templates in place in the theme
- [x] Move styling into localgov_base theme.
- [x] confirm feature parity

Estimate: 13

[2021-06-01 11:52] markconroy commented on #14
Update 1:

- Contact Section is now complete
- The contact section is now NOT using font-awesome as an imported library, instead we just embed the SVGs inline - this removes over 1MB of downloads from an external resource.
![Screenshot 2021-06-01 at 12 52 01](https://user-images.githubusercontent.com/2183332/120318803-32722d00-c2d8-11eb-9488-19e7873da1f0.jpg)

[2021-06-01 11:53] markconroy commented on #14
Update 2:
- Layout for the Service Landing Page is complete.
- This layout uses our custom `.lgd-row` grid system, rather than bootstrap. it's very lightweight, and based on the GovUK design system.
![Screenshot 2021-06-01 at 12 53 30](https://user-images.githubusercontent.com/2183332/120318973-64838f00-c2d8-11eb-9d5b-777504344450.jpg)

[2021-06-01 11:54] markconroy opened #15 "Theme refactor frontend: localgov_services_sub_landing_page"
- [x] Put the templates in place in the theme
- [x] Move styling into localgov_base theme.
- [x] confirm feature parity

Estimate: 13

[2021-06-01 11:55] markconroy commented on #8
Sub tasks:
1. Service landing page - https://github.com/localgovdrupal/localgov_base/issues/14
2. Service sub-landing page - https://github.com/localgovdrupal/localgov_base/issues/15
3. Service node page - https://github.com/localgovdrupal/localgov_base/issues/15

[2021-06-01 11:56] markconroy opened #16 "Theme refactor frontend: localgov_services_node_page"
# Sample: http://localgov.dev.mark.ie/births-deaths-marriages-and-citizenship/registering-birth

- [ ] Put the templates in place in the theme
- [ ] Move styling into localgov_base theme.
- [ ] confirm feature parity

Estimate: 13

[2021-06-01 15:08] markconroy commented on #14
Update 3:
- Layout for service CTA block is complete
- This layout uses our lgd-row classes
- No bootstrap
- No font awesome

![Screenshot 2021-06-01 at 16 07 49](https://user-images.githubusercontent.com/2183332/120346732-8b02f380-c2f3-11eb-880d-360ef5f25f94.jpg)

[2021-06-02 16:38] willguv opened #17 "Discovery: Check "reader" view for all content types"
PARK until later in this project

[2021-06-08 10:48] finnlewis commented on #10
@markconroy is this done for the sprint?

[2021-06-08 12:22] finnlewis opened #18 "Accessibility issue on the Guide page - dashes vs list items."
When creating a guide overview page, the content designer has the option to select numbers, dashes or bullets.

There might be an accessibility issue with this.

@markconroy could you elaborate on this?

@andybroomfield can you also tell us how Brighton and Hove are using these?

[2021-06-08 12:32] finnlewis opened #19 "Standardise certain fields across content types for template consistency - eg localgov_teaser_image,"
@markconroy if you could expand on this, that would be great.

The motivation seems to be that we want to use the same fields in all teasers.

So a news teaser would have:

localgov_teaser_image
localgov_summary

And other content types can follow suite.

[2021-06-08 12:53] markconroy commented on #18
Here's an article elaborating on this
https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html

[2021-06-08 15:45] markconroy commented on #10
Not fully. I need to look at menus when added to the secondary nav region.

[2021-06-10 10:49] finnlewis commented on #10
At the working group meeting this week, we agreed that @cjstevens78 @msayoung and Dave would review the locaogov_base theme as part of this.
This is not quite ready for full review yet.

[2021-06-10 12:31] markconroy commented on #10
I think this is ready for a review now.

I haven't done any work on mobile search or search regions, as I am not sure what is actually going to go into them.

[2021-06-10 15:03] finnlewis commented on #10
Thanks @markconroy - I'm guessing it's not easy at this stage to do a pull request with these specific  changes in.

@cjstevens78 @danchamp @msayoung any of you able to take a look ?

[2021-06-10 15:03] markconroy commented on #14
I think this is ready to test now. Files to consider:

- `block/services-cta-block.html.twig`
- - This templaet adds the CTA links to the top of the service landing page
- - Note use of new way to include icons
- `includes/icons/icon.html.twig`
- - new way to include icons without loading the whole of font awesome
- - `content/node--localgov-services-landing--full.html.twig`
- - this is a _very_ c

[2021-06-10 15:57] markconroy commented on #15
This is ready for review. Files to consider are:

- `field/field--paragraph--topic-list-links--topic-list-builder.html.twig`
- - This creates the listing of teasers
- - Note: this is the template that renders the icon beside the teaser. That is not part of the teaser template.

[2021-06-10 16:06] markconroy commented on #16
I think this is ready to test now. Files to consider:

- `block/services-cta-block.html.twig`
- - This creates the listing of action/information tabs at the top of the page
- Feel free to test the styles in the WYSIWYG for alerts and call outs as well.

[2021-06-10 16:09] markconroy commented on #12
This is ready for review. The header region is already taken care of in another ticket, so just need to test:

- banner - http://localgov.dev.mark.ie
- footer (this has a gazillion regions, hangover from localgov_theme) - http://localgov.dev.mark.ie
- breadcrumbs - http://localgov.dev.mark.ie/adult-health-and-social-care/step-by-step/request-support-adult-step-step/contact-support-team
- sidebar -

[2021-06-10 16:12] markconroy commented on #10
We can create PRs to _change_ this to something else, but not a PR for this actual item. That's why I'm listing the files to look at when reviewing.

[2021-06-10 18:41] #11 closed

[2021-06-10 18:43] markconroy opened #20 "Theme Refactor: Guide Overview"
# Sample: http://localgov.dev.mark.ie/adult-health-and-social-care/travel-passes-and-support/blue-badges

- [x] Put the templates in place in the theme
- [x] Move styling into localgov_base theme.
- [x] confirm feature parity

[2021-06-10 18:50] markconroy commented on #20
This is ready for review. Files to consider include:

- `block/guides-contents-block.html.twig`
- - This is the block at the top of the page which gives the listing of guide pages
- `content/node--localgov-guides-overview--full.html.twig`
- - Full node template for a guide overview page.
- - the main point of this seems to be to add the word "Overview" into the template in a `h2`. Maybe we could c

[2021-06-10 18:53] markconroy opened #21 "Theme Refactor: Guide Page"
# Sample: http://localgov.dev.mark.ie/adult-health-and-social-care/travel-passes-and-support/blue-badges/blue-badges-organisations

- [x] Put the templates in place in the theme
- [x] Move styling into localgov_base theme.
- [x] confirm feature parity

[2021-06-10 18:59] markconroy commented on #21
This is ready for review. Files to consider include:

- `content/node--localgov-guides-page--full.html.twig`
- - Full node template for a guide page.
- - the main point of this seems to be to set the node title in a `h2`. Maybe we could come up with a simpler way.

[2021-06-10 22:47] andybroomfield commented on #10
@markconroy are all these changes included in the master branch?

[2021-06-14 10:37] finnlewis commented on #2
@markconroy you mentioned at stand-up that this might change direction rather than refactoring all the things. Could you perhaps elaborate here for the record?

[2021-06-14 10:43] cjstevens78 commented on #20
- In AXE there’s an ‘all elements must be contained within a landmark’ warning involving the page title area https://github.com/localgovdrupal/localgov_base/blob/master/templates/block/localgov-page-header-block.html.twig. It’s tricky because you can’t simply wrap it in a `<header>` tag because there’s already one being used for the actual header. After some faffing we went with adding an aria rol

[2021-06-14 10:52] cjstevens78 commented on #20
Also - the list of items in the sub navigation all have the class 'lgd-guide-nav__list-item--active' this will mean they all inherit and active state styling - I would have thought there would be one 'active' link to denote the page you are on.

[2021-06-14 11:10] cjstevens78 commented on #21
- Header role
- Dashes in the nav
- Grid layout
- Next and Prev buttons have the same class
- Nav items all have active class

Full comments see the guide overview page ... https://github.com/localgovdrupal/localgov_base/issues/20

[2021-06-14 11:11] cjstevens78 commented on #18
+1 to remove

[2021-06-14 13:29] markconroy commented on #10
Yes, everything is in master currently.

[2021-06-14 13:34] markconroy commented on #2
Notes on what is blocking this are available in this issue
https://github.com/localgovdrupal/localgov_step_by_step/issues/36

[2021-06-14 13:41] cjstevens78 commented on #10
Looking good to me - couple of very minor things:

- Focus on the logo is inheriting the general focus style and looks odd (see screenshot)

<img width="464" alt="Screenshot 2021-06-14 at 14 35 22" src="https://user-images.githubusercontent.com/11304107/121901659-7fb1be00-cd1e-11eb-9384-45db5767a82c.png">

- I wonder if, when you have tabbed to ‘services’ and hit ‘enter’ to open the services menu,

[2021-06-14 14:21] markconroy commented on #20
Thanks @cjstevens78

1. Axe/Header - I'm going to skirt around that if you don't mind. I think where the page title block is placed currently - outside of the flow of the `<article>` element is not correct, but we'll need a wider discussion about how to fix that. It's not even inside the `<main>` element, which is a big mistake I think.
2. I'll leave the dashes styling there for now, just so it ac

[2021-06-14 14:24] markconroy commented on #21
This should all be fixed now after the work in #20

[2021-06-14 14:28] markconroy commented on #10
hmmmm
1. I liked the look of the logo when focussed, but let's change it to an outline instead. Probably makes more sense.
2. I'm not sure what the best thing is for that focus state. I thought of that, but then if you don't want to go to a service, you have to tab all the way back up to the services button to close the services menu.

Anyone else have any thoughts on item 2?

[2021-06-14 14:42] cjstevens78 commented on #14
@markconroy i think something may have gone awry with the example page for this - most likely to do with another element like the service status - or perhaps some work you are doing for hiding the right hand column anyway its currently showing the 'popular topics' (right hand) column next to the 'contact' area - i think from your screenshots above it should be next to the services list .... so oth

[2021-06-14 14:54] andybroomfield commented on #18
Not seeing any use of dashes in BHCC databases.

[2021-06-14 15:33] cjstevens78 commented on #15
I have reviewed - all good. Thanks Chris

[2021-06-14 15:36] cjstevens78 commented on #16
I have reviewed this - all good - alerts are all good too. Thanks Chris

[2021-06-14 15:46] markconroy commented on #14
Thanks @cjstevens78

1. I think the "Popular Topics" are right where they are. I followed the general HTML order of the current theme, which you can see here - http://localgov-test.dev.mark.ie/births-deaths-marriages-and-citizenship
2. Should we add the 3col container back to the services list?
3. The teasers are using h3 as their main element. I guess we can easily add a title of `<h2>Services</h

[2021-06-14 16:33] msayoung commented on #10
Do we know why we have this approach for the menus? (ie the toggle for the menu in the primary menu region and the actual menu in the secondary menu region)

As @cjstevens78 says I would expect the expanded item to come immediately after the toggle button in the tab / reading order - particularly for a screen reader user.
If we don't move it closer to the toggle button (or even if we do) it might

[2021-06-14 16:37] msayoung commented on #10
also i have some weird hover styling on items over multiple lines. Just on Chrome.
![Screenshot from 2021-06-14 17-34-43](https://user-images.githubusercontent.com/3852805/121927605-2904ae00-cd37-11eb-837f-38321ed738e2.png)

[2021-06-14 16:58] cjstevens78 commented on #10
@msayoung the toggled menu was inherited with the site when it came over from Brighton .. they just have the one link to 'services' and a click reveals it. We expanded on this to have more links at the top level but other than that it has just been left as is.

[2021-06-14 16:58] msayoung commented on #14
@markconroy can we have an aria label of some sort for the CTA nav please?
Gotta go now, but I'll continue reviewing tomorrow.

[2021-06-14 17:03] finnlewis commented on #10
For the record, Lambeth designed a similar pattern for the main 'services' menu:

![image](https://user-images.githubusercontent.com/326588/121930878-2b6d0500-cd43-11eb-984e-a70edb45b606.png)

[2021-06-14 17:57] danchamp commented on #10
Lambeth shows the pattern I'd expect - the visibility of the sub-menu can be controlled using the activating element (Council services) as a toggle, or by pressing escape when one of the child items has focus, in which case focus returns to the activating link.

What I don't like about Lambeth's implementation is that the activating element is an anchor with an href (/council-services), which is i

[2021-06-15 08:03] danchamp opened #22 "main landmark role doesn't contain page title block"
The main landmark should contain anything considered primary content for the page, including the `<h1>` and lede/summary if present. At the moment the page title block sits outside any aria region, and should form part of main.

There's an associated issue with the skip link (also on localgov_theme: https://github.com/localgovdrupal/localgov_theme/issues/149)

[2021-06-15 08:06] danchamp opened #23 "Skip to main content link bypasses important content"
As per localgovdrupal/localgov_theme#149

[2021-06-15 08:08] #22 closed

[2021-06-15 08:47] markconroy commented on #18
@willguv it might be good to ask at the product group if anyone is using the dashes and tell them to change them to select bullets instead.

Then we can more easily remove that field option.

[2021-06-15 08:57] markconroy commented on #14
@msayoung That's done now.

[2021-06-15 08:59] markconroy commented on #10
We could move the services button to the end of the header region, then when you click on it the next tabbable item will be the secondary menu. I left it at the beginning of that section because that's how it is in Croydon's website.

[2021-06-15 09:03] markconroy commented on #23
Hi @danchamp

I think this is a larger issue that needs to be solved further up the chain. Where we currently jump to is the same as where the current localgov_theme jumps to.

It will be hard to get around this without a discussion about how the current set up works in terms of blocks and block placements.

One thing we could do is just move the `<main>` element further up the DOM but I'm not sur

[2021-06-15 09:15] willguv commented on #18
@markconroy I think only Brighton is aware this option exists. Everyone else is using Step by Step for the same job

@andybroomfield do you have a view on the use of dashes? Thanks

[2021-06-15 09:36] markconroy opened #24 "Theme Re-factor Banner Secondary"
# Sample: http://localgov.dev.mark.ie/test-subsite-demo-all-components

- [x] Put the templates in place in the theme
- [x] Move styling into localgov_base theme - No styling needed
- [x] confirm feature parity

![Screenshot 2021-06-15 at 11 30 22](https://user-images.githubusercontent.com/2183332/122038042-1c329980-cdcd-11eb-9ae5-9d01923a35c0.jpg)

[2021-06-15 09:37] danchamp commented on #23
Thanks @markconroy. Moving `<main>` up the DOM would be an improvement for semantics and accessibility.

If there are issues doing that another option would be to put an id on `content-top` and use that as the target for the skip link if it's present, otherwise `main-content`.

I'd closed this for further reflection but have re-opened it because we need to do something.

[2021-06-15 09:38] markconroy commented on #24
Branch 1.x

This is ready for review. Files to look at:

- `paragraphs/paragraph--localgov-banner-secondary.html.twig`

There are no CSS changes needed, since the only field is the image field and that's a 100% image.

[2021-06-15 09:45] markconroy opened #25 "Theme Re-factor IA-Block"
# Sample: http://localgov.dev.mark.ie/test-subsite-demo-all-components

- [x] Put the templates in place in the theme
- [x] Move styling into localgov_base theme
- [x] confirm feature parity (we actually have more features, given our new CSS)

![Screenshot 2021-06-15 at 11 29 54](https://user-images.githubusercontent.com/2183332/122037984-0a50f680-cdcd-11eb-8dd0-95f8f5ea0313.jpg)

[2021-06-15 10:05] markconroy commented on #25
Branch 1.x

Ready for review.

Files to consider:
- `paragraphs/paragraph--localgov-ia-block.html.twig` - template file
- `css/components/ia-block.css`
- - `css/components/ia-block.ie11.css`

[2021-06-15 10:14] danchamp commented on #25
Looks good @markconroy

Only issue I can see is the focus style for linked headings in IA blocks being very subtle and inconsistent with all other link focus styling.

Caused by the `<div>` from `content.localgov_ia_block_title` rendered inside the anchor:

https://github.com/localgovdrupal/localgov_base/blob/0d10381e84b34297494bc8074b8375ec021a6063/templates/paragraphs/paragraph--localgov-ia-bloc

[2021-06-15 10:17] finnlewis commented on #18
@willguv I think @andybroomfield already commented above: "Not seeing any use of dashes in BHCC databases" :)

[2021-06-15 10:26] markconroy opened #26 "Theme Re-factor: featured Subsite"
# Sample: http://localgov.dev.mark.ie/test-subsite-demo-all-components

- [x] Put the templates in place in the theme
- [x] Move styling into localgov_base theme
- [x] confirm feature parity (we actually have more features, given our new CSS)

![Screenshot 2021-06-15 at 11 29 09](https://user-images.githubusercontent.com/2183332/122037909-f7d6bd00-cdcc-11eb-8e05-58f18b7d5d5d.jpg)

[2021-06-15 10:27] markconroy commented on #26
Branch 1.x.

Ready for Review. Files to consider:

- `paragraphs/paragraph--localgov-featured-subsite.html.twig`
-  `css/components/featured-subsite.css`
- -  `css/components/featured-subsite.ie11.css`

[2021-06-15 10:37] msayoung commented on #10
I think that makes sense @markconroy - as far as you know is that the only menu that behaves like this?

[2021-06-15 10:40] willguv commented on #18
Yes, sorry @finnlewis and @andybroomfield

@markconroy I think dashes can be safely dropped

[2021-06-15 10:53] markconroy commented on #25
Thanks @danchamp

That should be fixed now if you want to give it another quick check.

[2021-06-15 11:01] danchamp commented on #25
All good @markconroy, thanks.

[2021-06-15 11:02] markconroy commented on #18
Thanks @willguv

I have this removed from the templates and CSS from the new base theme.

[2021-06-15 11:03] danchamp commented on #24
Looks good @markconroy, no issue here.

[2021-06-15 20:05] markconroy opened #27 "Theme Re-factor: Link and Summary"
# Sample: http://localgov.dev.mark.ie/test-subsite-demo-all-components/test-page-link-and-summary-component

- [x] Put the templates in place in the theme
- [x] Move styling into localgov_base theme
- [x] confirm feature parity

[2021-06-15 20:41] markconroy opened #30 "Theme Re-factor: Video Paragraph Type"
# Sample: http://localgov.dev.mark.ie/test-subsite-demo-all-components/video-page-key-contact

[x] Put the templates in place in the theme
[x] Move styling into localgov_base theme - NONE needed
[x] confirm feature parity

[2021-06-15 20:48] markconroy commented on #30
I'm going to say this is ready for review, but there is an issue on the subsites repo that ought to be addressed: it's causing the videos to be displayed at 200px wide.

https://github.com/localgovdrupal/localgov_subsites/issues/30

Files to check:
- `templates/paragraph--localgov-video.html.twig`

[2021-06-15 20:53] markconroy opened #32 "Theme Re-factor: Key Contact Paragraph Type"
# Sample: http://localgov.dev.mark.ie/test-subsite-demo-all-components/video-page-key-contact

[x] Put the templates in place in the theme
[x] Move styling into localgov_base theme - none needed
[x] confirm feature parity

[2021-06-15 21:22] markconroy commented on #32
See PR: https://github.com/localgovdrupal/localgov_base/pull/33

[2021-06-15 21:22] markconroy commented on #30
See PR https://github.com/localgovdrupal/localgov_base/pull/31

[2021-06-15 21:22] markconroy commented on #27
See PR https://github.com/localgovdrupal/localgov_base/pull/29

[2021-06-15 21:26] markconroy opened #34 "Theme Re-factor: Box Links Paragraph Type"
# Sample: http://localgov.dev.mark.ie/test-subsite-demo-all-components/example-page-different-page-components

[x] Put the templates in place in the theme
[x] Move styling into localgov_base theme
[x] confirm feature parity

[2021-06-15 21:27] markconroy opened #35 "Theme Re-factor: Call out Box Paragraph Type"
# Sample: http://localgov.dev.mark.ie/test-subsite-demo-all-components/example-page-different-page-components

[x] Put the templates in place in the theme
[x] Move styling into localgov_base theme
[x] confirm feature parity

![Screenshot 2021-06-29 at 19 22 20](https://user-images.githubusercontent.com/2183332/123848213-5d6b9300-d90f-11eb-8a49-6408549a84ef.jpg)

[2021-06-15 21:27] markconroy opened #36 "Theme Re-factor: Image with Caption Paragraph Type"
# Sample: http://localgov.dev.mark.ie/test-subsite-demo-all-components/example-page-different-page-components

[x] Put the templates in place in the theme
[x] Move styling into localgov_base theme
[x] confirm feature parity

![Screenshot 2021-06-17 at 15 27 16](https://user-images.githubusercontent.com/2183332/122416346-91929b80-cf80-11eb-9b8d-86b6ba08f26f.jpg)

[2021-06-15 21:28] markconroy opened #37 "Theme Re-factor: Pull-out Quote Paragraph Type"
# Sample: http://localgov.dev.mark.ie/test-subsite-demo-all-components/example-page-different-page-components

[x] Put the templates in place in the theme
[x] Move styling into localgov_base theme
[x] confirm feature parity

![Screenshot 2021-06-17 at 15 44 45](https://user-images.githubusercontent.com/2183332/122419643-f8b14f80-cf82-11eb-928a-41d6588f036e.jpg)

[2021-06-15 21:29] markconroy opened #38 "Theme Re-factor: Key Facts Paragraph Type"
# Sample: http://localgov.dev.mark.ie/test-subsite-demo-all-components/example-page-different-page-components

[x] Put the templates in place in the theme
[x] Move styling into localgov_base theme
[x] confirm feature parity

[2021-06-15 21:30] markconroy opened #39 "Theme Re-factor: Tabs Paragraph Type"
# Sample: http://localgov.dev.mark.ie/test-subsite-demo-all-components/example-page-table

[x] Put the templates in place in the theme
[x] Move styling into localgov_base theme
[x] confirm feature parity

[2021-06-15 21:32] markconroy opened #40 "Theme Re-factor: Featured Teaser Paragraph Type"
# Sample: http://localgov.dev.mark.ie/test-subsite-demo-all-components/featured-content-page-test

[x] Put the templates in place in the theme
[x] Move styling into localgov_base theme
[x] confirm feature parity

![Screenshot 2021-06-17 at 16 42 07](https://user-images.githubusercontent.com/2183332/122429876-066ad300-cf8b-11eb-8a1b-a89b0da90a3a.jpg)

[2021-06-15 21:33] markconroy opened #41 "Theme Re-factor: Document Paragraph Type"
# Sample: http://localgov.dev.mark.ie/test-subsite-demo-all-components/test-pages-documents

[x] Put the templates in place in the theme
[x] Move styling into localgov_base theme
[x] confirm feature parity

[2021-06-16 08:28] danchamp opened #42 "<noscript> can only have descendants in <head>"
The `<noscript>` element in the header template has a `<style>` child element:

https://github.com/localgovdrupal/localgov_base/blob/275cefbe4bfc461cc3369e2a7fa08302363bba6f/templates/layout/header.html.twig#L6-L19

This is invalid HTML - [noscript can only contain text when in the `<head>`](https://html.spec.whatwg.org/multipage/scripting.html#the-noscript-element).

The `<noscript>` element coul

[2021-06-16 10:24] markconroy commented on #42
Hi @danchamp

Thanks for that. I'm not actually sure I agree with the point. I think it's okay to have style in the `noscript` tag. In any case, I've added a `no-js` class to the `html.html.twig` file and remove it via JS if JS loads. Then use that class to style items when JS does not load.

See here: https://github.com/localgovdrupal/localgov_base/pull/43

[2021-06-16 13:27] danchamp commented on #42
@markconroy it is okay, so long as it's in the head. The issue is that we can't rely on user agents to parse the children of `<noscript>` in the body, since the HTML spec says to expect text only. Like a lot of invalid HTML most UAs will handle it without problem, but I don't like assuming that will always be the case.

This is a nice solution though, thanks.

[2021-06-16 13:27] #42 closed, assigned to nobody

[2021-06-16 15:10] andybroomfield commented on #10
<img width="1219" alt="Screenshot 2021-06-16 at 4 08 46 pm" src="https://user-images.githubusercontent.com/1467480/122244882-27fd8900-cebd-11eb-91a5-547927219617.png">
As implemented on BHCC.
This is two menu blocks, a services menu and a business menu.
(Although we do have plans to change our menu stucture in the future).
These render using the secondary menu region.
These menus get duplicated in

[2021-06-16 15:45] markconroy commented on #34
See PR: https://github.com/localgovdrupal/localgov_base/pull/44

[2021-06-17 10:47] msayoung commented on #14
Questions today:
Are the Read more links on the service updates invisible on purpose?

![image](https://user-images.githubusercontent.com/3852805/122382182-9431c880-cf61-11eb-9710-f5811b2875ea.png)

This may not be the place to raise this, but what do you think about adding some visually hidden text to anywhere we have "Read more" links so that they are more informative? eg Read more <span class="

[2021-06-17 10:49] markconroy opened #45 "Tab Order when you Click on "Services" in main menu"
In our new theme - following the approach of the current localgov_base and Croydon's implementation, when you click on the "Services" button in the main menu, it opens the services menu. However, focus remains at the services button (so you can hit enter again to close the services menu).

However, when you hit tab it navigates to the next menu item in the main menu, rather than the first menu ite

[2021-06-17 12:16] markconroy opened #46 "Theme Re-factor: Fact Box Paragraph Type"
# Sample: http://localgov.dev.mark.ie/test-subsite-demo-all-components/example-page-different-page-components

[x] Put the templates in place in the theme
[x] Move styling into localgov_base theme
[x] confirm feature parity

![Screenshot 2021-06-17 at 13 14 49](https://user-images.githubusercontent.com/2183332/122394756-39eb3480-cf6e-11eb-889c-278b03b09ff5.jpg)

[2021-06-17 12:18] markconroy commented on #46
Ready for review. See PR https://github.com/localgovdrupal/localgov_base/pull/47

[2021-06-17 12:20] markconroy commented on #45
Closing this in favour of https://github.com/localgovdrupal/localgov_base/issues/10

[2021-06-17 12:21] #45 closed, assigned to nobody

[2021-06-17 12:28] markconroy commented on #46
Video here: https://www.youtube.com/watch?v=TahBN93lugU

[2021-06-17 13:58] msayoung commented on #15
![image](https://user-images.githubusercontent.com/3852805/122406088-7de33700-cf78-11eb-90ac-b0c1244cefed.png)
there seems to be a rogue Read more on the sub-landing page http://localgov.dev.mark.ie/births-deaths-marriages-and-citizenship/marriage-and-civil-partnerships

[2021-06-17 14:03] msayoung commented on #14
@markconroy - also are we going for the 3-across layout for the subpages lists, as we have on the current theme?
Currently we have 1 per row http://localgov.dev.mark.ie/adult-health-and-social-care

[2021-06-17 14:29] markconroy commented on #36
See PR https://github.com/localgovdrupal/localgov_base/pull/48

[2021-06-17 14:46] markconroy commented on #37
PR: https://github.com/localgovdrupal/localgov_base/pull/49

[2021-06-17 15:37] msayoung commented on #16
All good, but I wonder if we want to limit the width of content like this to 2/3 at wide screens to keep the line length readable?

[2021-06-17 15:43] msayoung commented on #15
Also there's a jump between H1 to H3 on the sub-landing pages. http://localgov.dev.mark.ie/libraries-leisure-and-culture/z-sports-and-activities .
Potential solution:
- An H2 before the teasers eg. "In this section"

![image](https://user-images.githubusercontent.com/3852805/122429762-edfab880-cf8a-11eb-885f-ab106d73b92e.png)

[2021-06-17 15:45] markconroy commented on #40
PR https://github.com/localgovdrupal/localgov_base/pull/50

[2021-06-17 15:46] msayoung commented on #12
looks good to me, thanks.

[2021-06-17 16:09] msayoung commented on #20
Great.

Can we have a name for the nav region please?

[2021-06-17 16:15] msayoung commented on #21
looks good to me

[2021-06-17 16:16] markconroy commented on #20
@msayoung do you mean something like `<nav name="guide-nav"></nav>`?

[2021-06-17 16:18] markconroy commented on #16
That's simple to do if we decide to. @msayoung do you want to create a new issue for that discussion, and we'll mark this as "reviewer approved"?

[2021-06-17 16:23] msayoung commented on #26
looks good.
do we need another issue logged somewhere to review the images styles set up for this?

[2021-06-18 11:42] msayoung commented on #20
Sorry @markconroy , I meant a label. Something like
[code]
Or an aria-label if that's simpler.

[2021-06-18 11:48] msayoung opened #51 "Limit line length to something sensible"
On pages such as http://localgov.dev.mark.ie/births-deaths-marriages-and-citizenship/registering-birth the line length is pretty long. The recommendation is between 50 -120 characters per line. https://webaim.org/techniques/textlayout

Can we limit the main content section to 2/3rd of the full width at larger screen sizes?

Discuss!

[2021-06-18 11:49] msayoung commented on #16
Sure, go ahead - new issue here: https://github.com/localgovdrupal/localgov_base/issues/51

[2021-06-18 11:54] msayoung commented on #25
looks great

[2021-06-18 11:58] msayoung commented on #27
is the icon meant to be vertically aligned with the title @markconroy ?  (and can it be? :) )
![image](https://user-images.githubusercontent.com/3852805/122557486-c2340d00-d034-11eb-9fcc-12c1ce978d2e.png)

[2021-06-18 13:16] msayoung commented on #30
looks fine to me

[2021-06-18 13:29] msayoung commented on #34
@markconroy  to confirm we're looking at these guys?
![image](https://user-images.githubusercontent.com/3852805/122568170-6459f200-d041-11eb-810b-32208665f518.png)
Looks good.

Have we lost the external link icon?

[2021-06-18 13:30] msayoung commented on #46
looks good

[2021-06-18 13:32] msayoung commented on #36
looks good

[2021-06-18 13:35] msayoung commented on #37
@markconroy Is there a case for using the `<blockquote>` element here?
Otherwise, looks nice.

[2021-06-18 13:37] msayoung commented on #40
Thumbs up from me.

[2021-06-21 09:44] markconroy commented on #14
@msayoung The "Service Updates" is not part of this work. I'll do that in a separate PR. I didn't do it originally as it's a different content type and the HTML was changing.

[2021-06-21 09:48] willguv commented on #14
I would leave the service updates panel at the foot of the landing page for now. I'm speaking to Brighton about their use of it, and we can return to this later.

[2021-06-21 09:53] markconroy commented on #15
Thanks @msayoung

That extra "More" is fixed (I had forgotten to comment back in the `{% if ... %}`.

The h2 is taken care of by the "Title" field in that component if it's filled in. I've filled it in in that sample node now.

[2021-06-21 09:54] markconroy commented on #26
Hi @msayoung

I'm not sure. If we need another issue for that, I think it should go in the subsite repo issue queue, not the base theme.

[2021-06-21 10:03] markconroy commented on #20
I've gone with `aria-label`. We don't seem to have access to the parent block from this template (or it's a block inside a block, I'm not sure).

[2021-06-21 10:31] markconroy commented on #51
See PR https://github.com/localgovdrupal/localgov_base/pull/52

[2021-06-21 10:51] markconroy commented on #27
@msayoung Sorry, I gave you the link to my default test site, not my dev site. I've corrected that now.

[2021-06-21 10:52] markconroy commented on #34
I had presumed that was coming from extlink module or somewhere, not the theme. I'll create an issue for that.

[2021-06-21 10:52] markconroy opened #53 "Add External Link Icon for external links."

[2021-06-21 10:54] markconroy commented on #37
Hi @msayoung

The `<blockquote>` element is used as the main wrapper element in this component.

[2021-06-21 11:17] #46 closed, assigned to nobody

[2021-06-21 11:17] #40 closed, assigned to markconroy

[2021-06-21 11:18] markconroy commented on #35
Is this component needed? If it's just to put an image beside some text, I think the two-column layout should be fine - text in one column and image in the other.

[2021-06-21 11:45] markconroy commented on #41
PR https://github.com/localgovdrupal/localgov_base/pull/54

[2021-06-21 14:55] markconroy commented on #39
PR https://github.com/localgovdrupal/localgov_base/pull/55

[2021-06-21 15:04] #36 closed, assigned to markconroy

[2021-06-21 15:04] #34 closed, assigned to markconroy

[2021-06-21 15:05] #30 closed, assigned to markconroy

[2021-06-21 15:05] #25 closed, assigned to markconroy

[2021-06-21 15:05] #24 closed, assigned to markconroy

[2021-06-21 15:06] #12 closed

[2021-06-21 15:08] #21 closed

[2021-06-21 16:50] danchamp commented on #37
@markconroy Presentation looks good, the only issue I see is that the Author is rendered inside the `<blockquote>` element, which I think should only contain the quoted text.

I like [the way it's shown on the HTML spec site](https://html.spec.whatwg.org/multipage/grouping-content.html#the-blockquote-element), using `<figure>` as a container, with a `<blockquote>` child and the author / citation i

[2021-06-21 20:04] markconroy commented on #9
PR: https://github.com/localgovdrupal/localgov_base/pull/56

- Directory Page
- Directory Venue
- Directory Channel
- Facets in sidebar

Will need a class of `lgd-teaser-list` added to the `/admin/structure/views/view/localgov_directory_channel/edit/node_embed` view

[2021-06-21 20:25] markconroy commented on #37
Thanks @danchamp that's a great idea. Updated now.

[2021-06-21 20:36] markconroy opened #57 "Theme Refactor: Event Content Type"
Recurring Event: http://localgov.dev.mark.ie/events/localgovdrupal-product-group-meetup
Single Event: http://localgov.dev.mark.ie/events/hogmanay-2021

- [x] Put the templates in place in the theme
- [x] Move styling into localgov_base theme.
- [x] confirm feature parity

[2021-06-21 20:38] markconroy commented on #57
PR: https://github.com/localgovdrupal/localgov_base/pull/58

[2021-06-22 06:27] danchamp commented on #37
@markconroy Thanks, markup looks good.

The `<blockquote>` left margin looks like it needs a reset since the class `.pull-out-quote` is applied to its parent now, and most browsers have a fairly large default margin on the element:

<img width="482" alt="Screenshot 2021-06-22 at 07 26 22" src="https://user-images.githubusercontent.com/261421/122874681-2bfd3100-d32b-11eb-8e2e-504723c9518a.png">

[2021-06-22 08:15] andybroomfield commented on #14
Just to ask, would the Service Update content type and the field to turn service updates on be removed.
It is still used at BHCC, even if its not the best place for it it should still be possible to in order to aide adoption.
So if it is a feature LocalgovDrupal supports then the new theme should support it to
(and if it is being dropped, that has big implications for Brighton & Hoves adoption pla

[2021-06-22 08:54] willguv commented on #14
No decisions have been made about this Andy. I’d like to leave the re-theming work of the service updates panel until later as I need to hear from Nikki about its use in Brighton. I’ll send both her and Chloe a reminder email today and copy you in.

[2021-06-22 11:15] markconroy commented on #37
Thanks Dan. That CSS is updated now.

[2021-06-22 11:43] markconroy commented on #23
See PR https://github.com/localgovdrupal/localgov_base/pull/59

[2021-06-22 12:22] danchamp commented on #37
Thanks @markconroy, looks great now.

[2021-06-22 13:20] willguv commented on #14
@markconroy ignore me. I'm not able to meet with Brighton & Hove until 7th July, so we need to include the service update styling on the service landing page as it is currently styled

If there are any changes I'll write cards at a late date

Copying @andybroomfield

[2021-06-22 14:07] danchamp commented on #39
@markconroy This functions as expected with mouse or keyboard.

The buttons for tabs are rendering with system fonts, which are on the small side (13.33px in FF, 11px in Safari for me), so we probably want an explicit font-family (and size?) declaration for `<button>`.

Slight rendering issue on Safari:

<img width="622" alt="Screenshot 2021-06-22 at 14 42 12" src="https://user-images.githubuserco

[2021-06-22 14:27] danchamp commented on #13
@markconroy

https://github.com/localgovdrupal/localgov_base/blob/d4c0e1afd5b22a6ef0146948d46564df7270c8e4/templates/block/localgov-page-header-block.html.twig#L23

I like the idea of using `<hgroup>` here but sadly it's been [removed from the HTML5 spec](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/hgroup) since no AT supports it, and advice is not to use it.

So a plain `<div>` is p

[2021-06-22 14:35] danchamp commented on #14
@markconroy Edge case contrast issue when hovering over a focussed service CTA link:

<img width="406" alt="Screenshot 2021-06-22 at 15 29 07" src="https://user-images.githubusercontent.com/261421/122943317-d3e81e00-d36e-11eb-9bfe-26d46221339f.png">

Caused by `color` not being explicitly declared for `.sctab__link:hover` in [service-cta-block.css](https://github.com/localgovdrupal/localgov_base/b

[2021-06-22 14:43] danchamp commented on #14
@msayoung +1 on this, since the link text isn't under editorial control and if there are multiple statuses on a service page they all currently have the same **Read more** link text.

[In step-by-step](https://github.com/localgovdrupal/localgov_step_by_step/blob/8a85f388479313a21e40ceee443c1db5633079ad/templates/views-view-list--localgov-step-by-step-navigation--prev-next.html.twig#L56
) we used `

[2021-06-22 15:12] danchamp commented on #14
I think a heading of 'Address' would be helpful above the postal address where it's present, otherwise it's not always going to be clear to a screen reader user what that content is:

<img width="666" alt="Screenshot 2021-06-22 at 16 09 26" src="https://user-images.githubusercontent.com/261421/122950489-663ef080-d374-11eb-8e18-c1f0bc88c6c6.png">

Possibly move the icon next to 'View map' too, so a

[2021-06-22 15:14] danchamp commented on #14
@markconroy That's all I've got, other than those bits it's all great for me.

[2021-06-22 19:17] #37 closed, assigned to markconroy

[2021-06-22 19:22] markconroy commented on #39
Thanks Dan. That's updated now.

Yes, the JS will be an issue for the subsites_paragraphs repo. Thanks again.

[2021-06-22 19:28] markconroy commented on #13
Thanks @danchamp

Based on this - https://www.w3.org/TR/html52/common-idioms-without-dedicated-elements.html#common-idioms-without-dedicated-elements - it looks like `<header>` might be the best element to use, but I reckon that's only if the title was inside the `<article>` element, not using the block system we are using.

In the meantime, I've gone for `<div>`

[2021-06-22 19:50] markconroy opened #60 "Add meaningful text to "Read more" links"
Currently we have a lot of "Read more" links. Let's add meaningful text to these items for screenreaders, such as something in a `.visually-hidden` span, or `aria-label`.

[2021-06-22 19:51] markconroy commented on #14
@danchamp Thanks a lot. All updated now.

@msayoung Adding more meaningful text is bigger than just this content type, so I have created a new issue for it where we can tackle it all in one go https://github.com/localgovdrupal/localgov_base/issues/60

[2021-06-22 20:05] markconroy opened #61 "Create a script to auto generate a sub-theme"
Let's make creating a subtheme as easy as possible. A simple bash script that when you run it, it creates a new theme folder with the correct .info.yml file, and .libraries.yml file etc.

[2021-06-22 20:07] #16 closed

[2021-06-22 20:08] #15 closed

[2021-06-22 20:10] markconroy commented on #8
Marking this as "done" since it's broken into 3 separate cards.

[2021-06-22 20:10] #8 closed

[2021-06-22 20:10] markconroy commented on #4
Closing this as we created an issue for each component.

[2021-06-22 20:10] #4 closed

[2021-06-22 20:11] markconroy opened #62 "Theme refactor: Alert Banner"
# Sample: http://localgov.dev.mark.ie/

[] Put the templates in place in the theme
[] Move styling into localgov_base theme
[] confirm feature parity

[2021-06-22 20:12] markconroy opened #63 "Theme refactor: Service Status Nodes"
Sample in-service-page block: http://localgov.dev.mark.ie/births-deaths-marriages-and-citizenship
Sample statuses list page: http://localgov.dev.mark.ie/births-deaths-marriages-and-citizenship/status
Sample status node: http://localgov.dev.mark.ie/births-deaths-marriages-and-citizenship/status/status-limited-service-impact-issue

[x] Put the templates in place in the theme
[x] Move styling into lo

[2021-06-23 08:05] markconroy opened #64 "Theme Refactor: Banner Primary"
# Sample: http://localgov.dev.mark.ie/bereavement-services

[] Put the templates in place in the theme
[] Move styling into localgov_base theme
[] confirm feature parity

[2021-06-23 08:38] danchamp commented on #13
@markconroy Agreed, if the page title block could be wrangled into the `<article>` element for some content types that would be ideal, but I know that's a bigger issue than we can deal with here.

[2021-06-23 08:40] danchamp commented on #14
Thanks @markconroy, this is good for me.

[2021-06-23 09:09] danchamp commented on #23
@markconroy This is better, although it results in `<main>` containing too much ancillary content for me (including all alerts and messages). Would it be viable to move the opening tag below page.banner, page.breadcrumbs, and page.messages?

I.e. `<main>` wrapping everything from `page.content_top` to `page.content_bottom` inclusive, closing just before the `#main-content` `<div>`, and keeping the

[2021-06-23 09:34] danchamp commented on #20
Looks good @markconroy, thanks.

The use of 'navigation' in the `aria-label` is redundant - screen readers will announce the role, so will read 'Guide navigation navigation'.

We can easily make the guide title available to the block as a variable if it would improve it - not sure 'Blue badges navigation' is an improvement over 'Guide navigation' in this context though?

[2021-06-23 10:00] markconroy opened #65 "Add composer.json file to theme"

[2021-06-23 10:11] #13 closed

[2021-06-23 10:11] #14 closed

[2021-06-23 10:12] markconroy commented on #23
That's moved now @danchamp

[2021-06-23 10:14] markconroy commented on #20
Thanks @danchamp that word is removed now.

[2021-06-23 10:18] markconroy opened #66 "Set add_css and add_js variables to opt out"
When sub-theming, you need to go to the theme's settings page to turn on the "add theme CSS" and "add theme JS" toggles.

Let's get that to work in such a way that the CSS and JS is on by default, and you must go to the settings page to opt out rather than opt in.

[2021-06-23 20:52] andybroomfield commented on #62
Are we fully moving the templates and CSS out of alert banner into the theme?
We need templates in the alert banner module as its a custom entity.
I thought we also where planning on keeping basic CSS for the alert banner so it works out the box?

[2021-06-24 08:02] danchamp commented on #26
@markconroy This is good for me. There is an issue with the labels being visually hidden and therefore announced to screen readers, I've raised this in subsites: https://github.com/localgovdrupal/localgov_paragraphs/issues/132

[2021-06-24 08:18] danchamp commented on #27
@markconroy We could improve this with an `aria-describedby` attribute on the link, referencing the summary.

The link would then be announced somthing like:

Otherwise users consuming the content linearly (eg screen reader) will not have access to the context provided by the summary when encountering the link.

[2021-06-24 08:42] danchamp commented on #32
@markconroy I'm finding this hard to review without context of where it would be used, and from that what the purpose of the image might be and what the text alternative should communicate.

The examples I've found on Croydon's subsites where it might have been used seem not to be using it, e.g the Get in touch section here:

https://www.croydon.gov.uk/croydon-needs-foster-carers/find-out-more-abo

[2021-06-24 09:23] danchamp commented on #41
@markconroy The link text for non-HTML documents should include both the file type and the file size, so all users know what to expect before activating the link - see [Link Purpose](https://localgovdrupal.org/accessibility/tests.html#_4-links-buttons) in our accessibility standards.

Given that, I wonder if this is really tabular data and would be better presented as an unordered list instead?

T

[2021-06-24 09:29] danchamp commented on #51
@markconroy @msayoung This looks good to me.

[2021-06-24 10:08] danchamp commented on #57
@markconroy Using my test event as reference:

![Screenshot 2021-06-24 at 10-49-56 My test event LocalGov Drupal](https://user-images.githubusercontent.com/261421/123242887-5e995c00-d4da-11eb-8ed2-766268d773b8.png)

Not sure if these go beyond 'feature parity':

- Link button styling and hover/focus states are inconsistent with those used in services, guides and step-by-step, and might be better a

[2021-06-24 11:55] andybroomfield commented on #65
Bump and also add this to Packagist.
(Or get this and the other Localgov Drupal modules listed on Drupal.org)

[2021-06-25 12:02] msayoung commented on #51
Looks good, and I see we can add other content types to the list of restricted widths in templates/content/node--full.html.twig
thanks @markconroy

[2021-06-25 12:17] msayoung commented on #23
Loads better, thanks
I think the Guide overview page and event page are a little awry, with the skip link behaving differently to the rest of the pages
On those pages the breadcrumb and alert banners are still contained within the main.

[2021-06-25 12:28] msayoung commented on #57
Yep as @danchamp says, I think you've already met the requirement but, since we're here...
a bit of space around the map too please, if there's a venue provided it's pretty squashed

![image](https://user-images.githubusercontent.com/3852805/123424742-26b51600-d5b9-11eb-80c9-db70256e189e.png)

Cheers

[2021-06-25 12:47] msayoung commented on #9
Looks good @markconroy
The following issues exist on the current theme so can move these into different issues if you prefer, but:

- On the Facets in the sidebar, the check boxes aren't keyboard accessible - we should be able to use the Space key to check

- On a Directory Page, could there be a visually heirarchy between the Enquiries fieldset label and the field labels below it? (eg http://loca

[2021-06-25 13:17] msayoung commented on #32
Here's another similar example from Croydon maybe: https://www.croydon.gov.uk/wedding-and-civil-partnership-venues/approved-ceremony-venues-croydon

I've crawled though Lambeth's Bereavement Subsite and can't find anything that looks like the thing, though there are places they could have used it : https://beta.lambeth.gov.uk/bereavement-services

I've asked in one of the Slack channels for real e

[2021-06-25 13:22] danchamp commented on #32
@msayoung That's the sort of use case I'd expect to find, but the Key Contact paragraph type only has fields for a link and an email address - no postal address or phone number.

I wonder if it's legacy/redundant, or unused because it's so limited?

[2021-06-25 13:33] msayoung commented on #32
good question if we get to do some targeted user testing on subsites (which I think would be a great idea).

[2021-06-25 13:36] #61 closed, assigned to danchamp

[2021-06-25 13:39] danchamp opened #68 "Add a README.md"
With basic details and a link to formal documentation.

[2021-06-25 15:00] danchamp commented on #9
@msayoung I can't replicate this and checkboxes work as expected with keyboard for me in Firefox and Edge.

@markconroy Can we highlight the checkbox and associated label on focus, and add some hover styling too please? The yellow border solely on the checkbox on focus is a bit subtle currently (see https://beta.londoncouncils.gov.uk/ for reference).

Should this even be a `<fieldset>` since it's

[2021-06-28 14:38] markconroy commented on #62
Hi @andybroomfield

I'm just moving things to the theme for now, so we can see how it works. We can then start backporting them to modules. The alert banner is a good example of where things should remain in the module.

[2021-06-28 18:53] #26 closed, assigned to markconroy

[2021-06-28 19:00] markconroy commented on #27
Thanks Dan, that's added now.

[2021-06-28 19:00] #27 closed, assigned to nobody

[2021-06-28 20:16] markconroy commented on #41
Thanks @danchamp

Can you check this again now? I have file types added now.

[2021-06-28 21:12] markconroy commented on #57
Thanks @danchamp and @msayoung All done, can one of you take a second glance please?

[2021-06-29 07:59] danchamp commented on #41
Sorry @markconroy, I forgot that this is handled in localgov_theme with a preprocess function that adds the file type and file size to all file links:

https://github.com/localgovdrupal/localgov_theme/blob/9aca9ab6a60738dfa6b549fb6741638f406da7fc/localgov_theme.theme#L194-L218

This is the desired output, with both the file type and the file size as part of the link text:

<img width="773" alt="Sc

[2021-06-29 09:15] #51 closed, assigned to nobody

[2021-06-29 09:21] markconroy commented on #23
@msayoung

That's not happening for me. It might have been a cache issue or just look like the page doesn't scroll all the way down simply because there's not enough content on the page for it to scroll to.

[2021-06-29 09:21] #23 closed

[2021-06-29 09:39] markconroy commented on #9
I have all of these items updated now, except "should the address be in a fieldset". I think that should not be part of this issue, as the fieldset output is coming from the address module rather than our custom code.

@danchamp and @msayoung can you have another quick look and close this issue if everything is okay?

[2021-06-29 10:26] msayoung commented on #57
Lovely, thanks @markconroy - @danchamp if you are happy you can move this to Reviewer approved.

[2021-06-29 10:53] msayoung commented on #9
I'm happy, and I've hunted down the Browser Extension that was messing with the keyboard accessibility. Win.
@danchamp move this on if you are happy.

[2021-06-29 12:34] willguv commented on #10
@markconroy to review @andybroomfield's code

Should close with the escape key

This will be reviewed by @msayoung and @danchamp

[2021-06-29 12:43] tom-steel commented on #2
All looking smashing @markconroy - can only spot two quirks:
- The step by step overview page has text running the full width when it needs to be constrained to the content body width
- On each step page, there doesn't need to be the step heading above the list of steps on the right.

[2021-06-29 12:47] willguv commented on #35
@tom-steel to check from Dave's original designs how this is supposed to look

[2021-06-29 12:47] markconroy commented on #41
Thanks @danchamp

This is ready for testing again

[2021-06-29 12:47] willguv commented on #35
@andybroomfield to share links to any live examples

[2021-06-29 12:48] willguv commented on #38
@tom-steel can you show Dave's original design work for this?

[2021-06-29 12:50] andybroomfield commented on #35
eg.
https://www.brighton-hove.gov.uk/climate-change/becoming-carbon-neutral-2030

<img width="753" alt="Screenshot 2021-06-29 at 1 49 23 pm" src="https://user-images.githubusercontent.com/1467480/123800119-dd2e3900-d8e0-11eb-910e-723336cd1b87.png">

[2021-06-29 12:53] andybroomfield commented on #35
Original BHCC Design specification for campaigns
http://design.brighton-hove.gov.uk/markup/campaign.php

[2021-06-29 13:21] danchamp commented on #41
Thanks @markconroy, this is good for me now.

[2021-06-29 13:23] danchamp commented on #9
Thanks @markconroy @msayoung, this looks good to me and we can pick up the fieldset issue in localgov_geo

[2021-06-29 13:48] #41 closed, assigned to markconroy

[2021-06-29 13:52] #9 closed

[2021-06-29 13:55] danchamp commented on #57
@markconroy Thanks, much better with some breathing room.

One final comment that may be beyond scope - the 'Provider', 'Venue', and 'Address' labels might be better marked up as headings. If not can we make them visually distinctive so they are clearly identifiable as labels for the items below them please?

[2021-06-29 17:50] markconroy opened #69 "Automate CSS coding standards via stylelint"
All the CSS we currently have is ordered by me, hoping it's in the right order for Drupal standards. Let's set up a package.json file and npm script to auto-format our CSS, so that _everyone_ follows the coding standards without even realising it.

[2021-06-29 17:52] markconroy opened #70 "Ensure CSS+JS runs by default"
We have a cool theme setting to allow people turn on/off our css and js libraries, but they only work if there's a global variable set (it will get set in `localgov_core.module`, however, if anyone uses the theme without this function being present, the CSS and JS is ignored.

Basically, let's reverse the `if` statement we currently have, to something like `{% if not localgov_base_remove_css %}`

[2021-06-29 18:23] markconroy commented on #35
PR #71

[2021-06-29 18:30] markconroy commented on #57
Thanks @danchamp

I have those labels set as bold now. Headings would be better, but I'm going with the default markup of Drupal, so we have fewer templates to maintain.

[2021-06-29 20:26] markconroy commented on #63
PR #72

[2021-06-30 08:14] danchamp commented on #57
Thanks @markconroy. Moving this to Reviewer approved.

[2021-06-30 09:29] #57 closed, assigned to markconroy

[2021-06-30 09:29] #20 closed

[2021-06-30 10:04] danchamp commented on #63
Thanks @markconroy, looking good. A small number of comments:

- The 'Read more' links in `service-status-page.html.twig` and `service-status-block.html.twig` lack context for screen readers when there is more than one status live. The module's `node--localgov-services-status--message.html.twig` template uses an `aria-label` to fix this:

https://github.com/localgovdrupal/localgov_services/blob/fc

[2021-06-30 10:27] danchamp commented on #63
@markconroy One more comment - the 'See all' link text would be better extended to 'See all service updates' for screen reader users to provide context, either using an `aria-label` (preferable) or additional hidden text.

[2021-06-30 20:00] markconroy commented on #64
PR #74

[2021-06-30 20:16] markconroy commented on #63
Thanks Dan.

I have those all fixed now.

For the jump from h1 -> h3, I just changed the heading level in the template for that template (we have 2 templates, one for each block, so it was easy).

[2021-07-01 12:45] msayoung commented on #39
Looks good to me.

I see it's what happens with the current theme, but I'm interested that the tabs don't appear at smaller screen sizes.
Anyway, I'm happy.
@danchamp I'll leave it assigned to you.

[2021-07-01 12:57] msayoung commented on #2
Nice, thanks.
Is it possible to also constrain the steps below the content on the step overview page ?
![image](https://user-images.githubusercontent.com/3852805/124127242-670e0b80-da73-11eb-9d61-84c863c47366.png)

I think @tom-steel 's second point was that we don't need the repeated block of "Part of ... " title at the top of the sidebar on the step page:
![image](https://user-images.githubuserc

[2021-07-01 13:01] msayoung commented on #35
Stunning.
@danchamp anything to add?

[2021-07-01 13:12] msayoung commented on #64
Looks good

A more general question about these. Does it make sense that the banner appears before the Alert banners?

Also, I had assumed that the banners would be providing the H1 on the page, but I think I am/was mistaken. More on that over here: https://github.com/localgovdrupal/localgov_subsites/issues/26

[2021-07-01 13:17] danchamp commented on #64
@markconroy Looks good for me too, thanks.

Agree with @msayoung that alert banners should precede these.

[2021-07-01 13:20] danchamp commented on #63
Excellent, thanks @markconroy this is good for me.

[2021-07-01 13:32] danchamp commented on #35
Nice @markconroy!

In my test here there was a problem with the padding applied to the `.call-out-box--has-image` (I also see this on your test page):

<img width="802" alt="Screenshot 2021-07-01 at 14 28 32" src="https://user-images.githubusercontent.com/261421/124132350-a25f0900-da78-11eb-9530-9e52a177399f.png">

I think the padding needs to be applied to `.call-out-box__content` to have the bg

[2021-07-01 14:52] markconroy commented on #39
The tabs not appearing on small screens is part of the current functionality. I didn't want to upset that - I'm guessing it's that we presume there will be instances where tabs may need to wrap to more than one line on small screens.

If we want to look at that, I'd suggest we might do it as a new issue, outside of the "feature parity" approach of this phase.

[2021-07-01 14:56] markconroy commented on #64
The order of banner vs alert is a block config item, not something got to do with the team. We'll have to create an issue in localgov_alerts or localgov_subsites to set the weight for those.

[2021-07-01 14:56] #64 closed, assigned to danchamp

[2021-07-01 14:56] #63 closed, assigned to markconroy

[2021-07-01 14:59] markconroy commented on #35
Fixed now @danchamp

[2021-07-01 15:01] danchamp commented on #35
Thanks @markconroy, tested and working locally.

[2021-07-01 15:13] #35 closed, assigned to markconroy

[2021-07-01 17:37] danchamp commented on #64
Issue raised: https://github.com/localgovdrupal/localgov_alert_banner/issues/153

[2021-07-02 10:10] danchamp commented on #10
@markconroy Looking good, I haven't finished testing, these are my comments so far:

- The Services button has an `aria-label` of "Toggle Secondary Navigation" - I think "Services" or "Services menu" would be better. Any view @msayoung?
- On Safari the Services button toggles the menu, but doesn't shift focus to the first menu link. I can't see anything obvious that's causing this.

Still thinking

[2021-07-05 13:49] markconroy commented on #10
@danchamp I had the same issue, but it's because of the default accessibility settings in Safari. https://www.scottohara.me/blog/2014/10/03/link-tabbing-firefox-osx.html

In my case, I had to go to Safari > settings > advanced > "Press tab to highlight each item on a web page"

I've updated the aria-label to "Toggle services menu"

[2021-07-05 15:35] #66 closed, assigned to nobody

[2021-07-05 15:58] markconroy commented on #62
Hi @andybroomfield

I don't see any changes needed in the Alert Banner for the new theme, except to change this class name (which won't affect anything) - https://github.com/localgovdrupal/localgov_alert_banner/pull/157

I'll close this issue and leave that PR to you.

[2021-07-05 15:58] #62 closed, assigned to nobody

[2021-07-05 16:17] markconroy commented on #2
Hi @msayoung

1. The nav block is now set to a max of 48rem (768px)
2. The "Part of ..." is part of the view config (placed in the view header). If we want that removed, we'll need to create an issue in the step-by-step repo (and be aware that might affect current sites that use it)
3. The nav element now has the aria label you requested

[2021-07-05 16:34] markconroy commented on #38
We don't seem to have any design for this, and it currently matches what is in the localgov_theme theme, so markng as ready for review.

PR #75

[2021-07-05 16:36] markconroy opened #76 "Theme re-factor - Default Search"
# Sample: http://localgov.dev.mark.ie/search

[] Put the templates in place in the theme
[] Move styling into localgov_base theme
[] confirm feature parity

[2021-07-05 16:40] markconroy opened #77 "Theme re-factor: News"
# Sample Listing Page: http://localgov.dev.mark.ie/news
# Sample News Node: http://localgov.dev.mark.ie/news

[] Put the templates in place in the theme
[] Move styling into localgov_base theme
[] confirm feature parity

[2021-07-05 17:41] #77 closed, assigned to markconroy

[2021-07-06 08:21] msayoung commented on #2
Oh yes, so it is. There's a naughty little `display:none` in the localgov_theme

Thanks for the other things.
@danchamp you have anything to add?

[2021-07-06 08:23] msayoung commented on #38
Nice, thanks.

[2021-07-06 08:45] #38 closed, assigned to msayoung

[2021-07-06 09:22] danchamp commented on #39
@markconroy Happy for this to be closed with an issue raised for small-screen consideration in the future.

[2021-07-06 09:29] danchamp commented on #2
@markconroy @msayoung Looks good, nothing to add thanks.

[2021-07-06 09:48] danchamp commented on #10
It's curious, I've already got that set. Doing more testing just now, will report back shortly.

[2021-07-06 09:56] danchamp commented on #10
@markconroy I don't want this to be held up with a minor Safari issue, so happy to approve this and do further testing / raise an issue later.

[2021-07-06 11:02] #39 closed, assigned to danchamp

[2021-07-06 11:03] #2 closed

[2021-07-06 11:03] #10 closed

[2021-07-06 11:46] #70 closed, assigned to markconroy

[2021-07-07 11:07] finnlewis opened #79 "Accessibility audit of base theme."
Dan is keen to perform an initial accessibility audit of the full install with the new localgov_base theme.

This will be for internal purposes (producing issues for further work) rather than an external report.

[2021-07-08 19:11] markconroy opened #80 "Theme Re-factor: News/Newsroom/News Lists"
# Sample newsroom: http://localgov.dev.mark.ie/news
# Sample news article: http://localgov.dev.mark.ie/news/2021/test-news-post-number-2-really-important-one

- [x] Put the templates in place in the theme
- [x] Move styling into localgov_base theme
- [x] confirm feature parity

[2021-07-08 19:13] markconroy commented on #80
PR #81

[2021-07-12 10:44] finnlewis opened #83 "Add standard Github tests for the localgov_base theme"

[2021-07-12 11:10] markconroy commented on #68
PR #84

[2021-07-12 13:08] danchamp commented on #80
@markconroy Looking good, thanks. A couple of questions:

1. Can we include the search form on the search page, as we do with events and directories? (This may be a module issue.)
2. Can we make it easier to switch the sidebar to the right side? At present I need to over-ride the whole template. Alternatively, we could default to having the sidebar on the right side, matching the pattern at [BHCC]

[2021-07-12 15:31] markconroy commented on #76
PR #85

[2021-07-12 15:36] markconroy commented on #80
Hi @danchamp

The sidebar issue really ought to be config, not in a template. I think those items in the sidebar should be blocks placed in the sidebar (or any region you want them) and not hardcoded as extra fields on the content type. But that's a module issue, not a theme issue. @ekes any thoughts on this?

Including the search form on the search page is also a module issue. I was only dealing

[2021-07-12 16:03] markconroy commented on #69
PR #86

[2021-07-12 16:22] msayoung commented on #68
nice, thanks @markconroy

[2021-07-12 16:46] msayoung commented on #69
Nice, can we add a line about how to run it in the Readme ?

[2021-07-12 21:32] markconroy commented on #69
Yes. I'll close this add add that line.

[2021-07-12 21:32] #69 closed, assigned to markconroy

[2021-07-12 21:36] #68 closed, assigned to msayoung

[2021-07-13 10:51] danchamp commented on #80
@markconroy Yes, very happy to do that. I'll close and move to review completed, and raise an issue in localgov_news.

[2021-07-13 10:51] #80 closed, assigned to markconroy

[2021-07-13 14:28] #7 closed

[2021-07-13 14:28] #6 closed

[2021-07-14 09:24] danchamp opened #87 "External link mask-image CSS property needs -webkit- prefix"
`mask-image` needs a -webkit- vendor prefix for Chromium/Webkit browsers:

https://github.com/localgovdrupal/localgov_base/blob/3387b0ff546de5b51b0ee1fd572d1ab8f5eca743/css/components/wysiwyg-styles.css#L65

[2021-07-14 11:21] markconroy commented on #87
Thanks @danchamp

That's added now.

[2021-07-14 11:21] #87 closed, assigned to danchamp

[2021-07-14 11:54] msayoung commented on #76
@markconroy
I've tested locally, as your site seems to have moved on (looking good btw)

Could the Apply button display inline?

I believe on the other theme we decided (though I don't think it was implemented) to show the button as a magnifying glass with the Apply text hidden with the `.visually-hidden` class. Happy to leave this though as it's probably best to be consistent with the other searc

[2021-07-14 13:16] danchamp commented on #18
Closed by https://github.com/localgovdrupal/localgov_guides/issues/62

[2021-07-14 13:16] #18 closed

[2021-07-14 13:21] markconroy commented on #76
Hi @msayoung

- The "submit-button" is inline (via display: flex on the parent).
- I'm going to leave the word apply on the search button, and let sub-themes decide if they want to remove it
- The order of items is set via config in the view header, so not actually part of the theming work
- The title is now set to `h3`
- The numbers are set to transparent now
- The view mode setup is a config iss

[2021-07-14 13:21] #76 closed, assigned to msayoung

[2021-07-15 07:28] markconroy opened #89 "Theme re-factor: Header Search Block"
Now that we have search in the profile, let's theme the header search block.

[2021-07-15 07:32] markconroy commented on #89
PR #90

[2021-07-20 08:55] danchamp opened #92 "Duplicate empty <span> in services CTA template"
Empty .service-cta-block__link-title span:

https://github.com/localgovdrupal/localgov_base/blob/65bcca8af8a4bb1529217ea12223b7e089055829/templates/block/services-cta-block.html.twig#L44-L48

[2021-07-20 09:22] danchamp opened #93 "Alert banner title <h2> renders full field with surrounding <div>"
Only title value should be rendered to ensure valid HTML:

https://github.com/localgovdrupal/localgov_base/blob/65bcca8af8a4bb1529217ea12223b7e089055829/templates/block/localgov-alert-banner.html.twig#L47-L49

[2021-07-20 09:30] danchamp opened #94 "Service status has invalid format for datetime attribute"
`datetime` attribute should be in [a machine readable format](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/time), eg `Y-m-d`:

https://github.com/localgovdrupal/localgov_base/blob/65bcca8af8a4bb1529217ea12223b7e089055829/templates/block/service-status-block.html.twig#L31-L33

And in service status page:

https://github.com/localgovdrupal/localgov_base/blob/65bcca8af8a4bb1529217ea12223

[2021-07-20 09:54] danchamp opened #95 "Service landing page email link href renders with line breaks"
Use `node.localgov_email_address.value` instead of `content.localgov_email_address|render|striptags|trim`:

https://github.com/localgovdrupal/localgov_base/blob/65bcca8af8a4bb1529217ea12223b7e089055829/templates/content/node--localgov-services-landing--full.html.twig#L97

[2021-07-20 10:20] danchamp opened #96 "Unclosed <nav> element in step-by-step previous/next template"
Closure on line 85 should be `</nav>`:

https://github.com/localgovdrupal/localgov_base/blob/65bcca8af8a4bb1529217ea12223b7e089055829/templates/views/views-view-list--localgov-step-by-step-navigation--prev-next.html.twig#L46-L85

[2021-07-20 10:27] danchamp opened #97 "News article <time> renders full news_date field with surrounding <div>"
Only localgov_news_date field value should be rendered to ensure valid HTML:

https://github.com/localgovdrupal/localgov_base/blob/65bcca8af8a4bb1529217ea12223b7e089055829/templates/content/node--localgov-news-article--full.html.twig#L89-L91

[2021-07-20 10:49] msayoung commented on #79
Log here: https://docs.google.com/spreadsheets/d/1t8rRIQe_1kogxPBZDKcsbf8YxtEfC9iGJvidkagNSXY/edit#gid=1779042480

[2021-07-20 12:21] finnlewis opened #98 "Outdated localgov_theme documentation: flag as deprecated or remove the old docs"

[2021-07-20 12:22] finnlewis opened #99 "Update localgov_base docs to remove 'do not user' note"

[2021-07-20 14:32] danchamp commented on #99
@finnlewis I don't have permissions to access the repo Settings so can't edit the GitHub description.

I think @markconroy  setup the repo so should have permissions - if no-one else currently has access it should probably be extended to others?

[2021-07-20 14:39] danchamp commented on #98
Opened in localgov_docs: https://github.com/localgovdrupal/docs/issues/57

[2021-07-20 14:39] #98 closed, assigned to nobody

[2021-07-21 13:20] #99 closed, assigned to nobody

[2021-07-28 14:18] markconroy commented on #97
Hi @danchamp

What's the issue with a `div` rendering inside a `time` element? As `div` is semantic-less, I would have thought it was okay.

I want to render the full field so we can have site builder configure the date format in the CMS, instead of the theme being opinionated about it.

I guess we could just edit the date field for the news content type to remove all the wrapper stuff and leave j

[2021-07-28 14:22] #96 closed, assigned to nobody

[2021-07-28 14:22] markconroy commented on #96
PR #100

[2021-07-28 14:24] #92 closed, assigned to nobody

[2021-07-28 14:33] #94 closed, assigned to nobody

[2021-07-28 15:34] danchamp commented on #97
The HTML spec restricts its permitted content phrasing content, so no flow content like `<div>`: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/time

`<span>` as a field wrapper would be fine and would still allow the date format to be configured in the CMS - is that doable?

[2021-07-28 16:01] #93 closed, assigned to nobody

[2021-07-28 16:08] #97 closed, assigned to markconroy

[2021-07-28 16:08] markconroy commented on #97
Thanks @danchamp

I have this fixed in #104 now

[2021-07-28 17:10] danchamp opened #105 "Replace hard-coded 48rem value with --width-medium variable"
`variables.css` sets a `--width-medium` variable with a default value of 48rem.

Some components and the grid use a hard-coded value of 48rem for media queries. Using the variable instead will make setting a different breakpoint more straightforward.

[2021-07-28 17:17] danchamp commented on #105
TIL: [CSS variables can't currently be used for media queries](https://stackoverflow.com/questions/40722882/css-native-variables-not-working-in-media-queries).

[2021-07-28 17:17] #105 closed, assigned to nobody

[2021-07-28 20:17] #95 closed, assigned to nobody

[2021-07-28 20:17] markconroy commented on #95
PR #106

[2021-07-28 20:18] markconroy commented on #105
Yep, it's a right pain. We can use some PostCSS plugin or something to get around it, but can't use a custom property for a media query. The pain is that they are custom "properties" not "variables", so need to be a value in a property:value pairing.

[2021-07-28 20:21] markconroy commented on #79
Hi @msayoung  and @danchamp

Just want to check in here about the items being logged in the spreadsheet. Am I to fix all those or are we dividing them up, or are we/you/me fixing as we come across them?

[2021-07-29 08:03] danchamp commented on #79
@markconroy The plan was to begin raising the issues on GitHub this week, in priority order (highest value first), and fix those that are straightforward as we go. Other issues will require dev input in the respective modules.

It's a group effort, if you've got time/capacity please make a start and update the log sheet as you go but there's no expectation that you're to fix them all.

[2021-07-29 12:19] markconroy commented on #79
Thanks a lot, Dan.

[2021-07-29 15:18] #89 closed, assigned to nobody

[2021-07-29 15:22] danchamp opened #107 "Header search form label has low contrast"
[Accessibility audit: issue 6](https://docs.google.com/spreadsheets/d/1t8rRIQe_1kogxPBZDKcsbf8YxtEfC9iGJvidkagNSXY/edit#gid=1779042480&range=E7)

<img width="418" alt="Screenshot 2021-07-29 at 16 22 11" src="https://user-images.githubusercontent.com/261421/127519439-7f6fcec3-0060-4de5-af95-0678fef3e3c4.png">

[2021-07-29 15:26] danchamp opened #108 "Alert banner focus links have insufficient focus contrast"
[Accessibility audit: issues 17-19](https://docs.google.com/spreadsheets/d/1t8rRIQe_1kogxPBZDKcsbf8YxtEfC9iGJvidkagNSXY/edit#gid=1779042480&range=E18)

Affects death of a notable person, announcement, and emergency alert banners.

[2021-07-29 15:31] danchamp opened #109 "Meaningful/content SVG elements should have role="img" attribute"
[Accessibility audit: issue 58](https://docs.google.com/spreadsheets/d/1t8rRIQe_1kogxPBZDKcsbf8YxtEfC9iGJvidkagNSXY/edit#gid=1779042480&range=E59)

I don't think the theme features any non-decorative SVGs, but requires review.

[2021-07-29 15:32] danchamp opened #110 "All SVG elements should have focusable="false" attribute"
[Accessibility audit: issue 59](https://docs.google.com/spreadsheets/d/1t8rRIQe_1kogxPBZDKcsbf8YxtEfC9iGJvidkagNSXY/edit#gid=1779042480&range=E18)

[2021-07-29 15:32] danchamp opened #111 "Decorative SVG elements should be hidden using aria-hidden="true""
[Accessibility audit: issue 57](https://docs.google.com/spreadsheets/d/1t8rRIQe_1kogxPBZDKcsbf8YxtEfC9iGJvidkagNSXY/edit#gid=1779042480&range=E58)

[2021-07-29 15:39] danchamp opened #112 "SVG icons not visible in WHCM"
[Accessibility audit: issue 76](https://docs.google.com/spreadsheets/d/1t8rRIQe_1kogxPBZDKcsbf8YxtEfC9iGJvidkagNSXY/edit#gid=1779042480&range=E77)

SVG fill and stroke properties are not over-ridden by Window High Contrast Mode, and most localgov_base SVGs have near-black fill and stroke, so aren't visible.

Can target WHCM with a media query:

`@media screen and (-ms-high-contrast: active)`

[2021-07-29 16:15] danchamp commented on #109
There are no meaningful / content `<svg>` elements in the theme. `logo.svg` is the only possible candidate, and it's used in an `<img>` element.

[2021-07-29 16:15] #109 closed, assigned to nobody

[2021-07-29 16:47] danchamp commented on #111
Closing, no action required:

[icon.html.twig](https://github.com/localgovdrupal/localgov_base/blob/ceb0f6741beadacc433f5367706fadbd3a0d8b8b/templates/includes/icons/icon.html.twig) sets `aria-hidden` on the icon wrapper element, and provides for passing a `decoration` parameter to control it - nice work @markconroy!

[2021-07-29 16:47] #111 closed, assigned to nobody

[2021-07-30 14:24] #107 closed, assigned to danchamp

[2021-07-30 14:25] markconroy commented on #107
Closed via #113

[2021-07-30 14:27] #110 closed, assigned to danchamp

[2021-07-30 14:28] #108 closed, assigned to danchamp

[2021-07-30 14:32] markconroy commented on #65
Hi @danchamp

What's needed on this issue to close it?

[2021-07-30 14:33] markconroy commented on #5
I'm going to close this issue as the theme is now live and there doesn't seem to be conflict about the templates being in it.

[2021-07-30 14:33] #5 closed

[2021-07-30 14:34] #32 closed, assigned to markconroy

[2021-07-30 15:58] danchamp commented on #65
@markconroy I think it can be closed now, it was a short-term issue when composer.json was removed in this update: https://github.com/localgovdrupal/localgov_base/pull/74/files

[2021-07-30 15:58] #65 closed, assigned to nobody

[2021-08-10 19:15] finnlewis opened #116 "Tabs / local tasks styling"
Hey @markconroy

Just testing creating child themes from the base theme and the local task tabs are not styled at all.

Is this known, by design or have I got something awry?

For example:

![image](https://user-images.githubusercontent.com/326588/128921239-ca9c7ede-57b2-4dc1-adca-da6b5399e5a7.png)

[2021-08-10 20:25] danchamp commented on #116
@finnlewis Check your block config, Tabs should be in the Tabs region, and will render at the top of the page:

<img width="698" alt="Screenshot 2021-08-10 at 21 23 06" src="https://user-images.githubusercontent.com/261421/128929857-578546e9-52ba-4433-8680-0e5f90abaac4.png">

The localgov profile places Tabs in content_top I think, which looks to be causing the issue:

https://github.com/localgovd

[2021-08-11 07:41] finnlewis commented on #116
Thanks @danchamp , that looks better!

So it looks like:
 - the localgov_base theme wants the local tasks 'Tabs' block in the 'Tabs' region, which is placed above the header.
 - the localgov_theme does not have a 'Tabs' region and places the 'Tabs' block in the 'Content top' region.

At the moment, we're still setting the default theme to localgov_theme in the profile, so when switching to the loc

[2021-08-11 10:16] danchamp commented on #116
Yes, I think adding a `config/install/block.block.tabs.yml` file to the theme with this config should place the block correctly on theme install:

[code]

I can't test just now but will later if you don't beat me to it.

[2021-08-11 14:17] finnlewis opened #117 "Service landing pages - three column layout"
Just demonstrating a default install to a council today, and expected the services landing page to display the child pages in three columns.

The demo site has just been reinstalled and this is how a service landing page looks on the localgov_theme

![image](https://user-images.githubusercontent.com/326588/129045606-7d1cd19d-5a0c-4780-80f6-ec18c549498a.png)

Any reason not to follow suit for local

[2021-08-12 14:54] danchamp commented on #116
@finnlewis From my testing it appears that if you define one block's placement in a theme's config, only that block is placed when the theme is installed and any other existing block placement is lost (even if there are regions in the theme that match those placements).

I guess this is expected behaviour (otherwise a theme couldn't define a set of blocks/regions) but means we need to include conf

[2021-08-18 12:35] finnlewis opened #119 "Release localgov_base as a non-beta tag"
Hi @markconroy

We would like to set localgov_base as the default theme in the distribution.

This will help new councils see the localgov_base rather than the localgov_theme as the starting point and also make it easier for us to bring in localgov_news and any other projects that are built to work best with localgov_base

Would you be willing and able to tag the release @markconroy or should we a

[2021-08-19 09:50] willguv opened #120 "Add middle breakpoint and extra fractions to base theme"
The base theme provides two breakpoints - desktop and mobile - same as the GOV.UK and NHS design systems

Croydon has raised the point [see 13/08](https://docs.google.com/document/d/1PPtq49S68DU6g3rh3X0N4UcyVZZx74wKE7sBUY1ENI8/edit?usp=sharing) that this might not provide enough flexibility for councils.

New issue for this item:
~Its design system currently includes a 12 column grid, for example~

[2021-08-19 09:56] willguv commented on #120
@markconroy can you estimate this (see labels for 1, 2, 3, 5 etc point scores) and do this work? Many thanks!

[2021-08-19 10:00] willguv opened #121 "Agree on a default pattern for mobile menus"
The base theme currently shows 'services' and 'menu' buttons on mobile

Croydon and other councils collapse all menu links into one button, often using a hamburger icon and/ or the words 'menu'

The links shown in a mobile menu vary. Croydon, for example, shows the same links as the desktop view. Lambeth shows a reduced set of links.

The front end working group needs to decide on

- [ ] One menu

[2021-08-19 10:59] willguv commented on #121
@markconroy I'm wondering whether you've switched to one menu button already?

I just checked https://test.localgovdrupal.org/ and saw this

<img width="745" alt="Screenshot 2021-08-19 at 11 59 01" src="https://user-images.githubusercontent.com/708140/130057546-f1a26df1-5ff3-44e7-a659-468696ccec6b.png">

[2021-08-20 15:04] stephen-cox opened #122 "Drupal\Core\Config\Schema\SchemaIncompleteException: No schema for localgov_base.settings"
Tests fails with `Drupal\Core\Config\Schema\SchemaIncompleteException: No schema for localgov_base.settings` error due to missing schema.

[2021-08-20 15:06] markconroy commented on #119
@finnlewis

Done: https://github.com/localgovdrupal/localgov_base/releases/tag/1.0.0

[2021-08-20 15:19] stephen-cox commented on #122
This will need to be fixed and a new release made of the theme before we can set this as the default theme in the profile.

[2021-08-20 15:35] finnlewis commented on #119
Thanks @markconroy !

[2021-08-20 15:35] #119 closed, assigned to markconroy

[2021-08-23 13:39] #122 closed, assigned to nobody

[2021-08-30 12:25] msayoung opened #125 "Typo in the Readme"
Instead of creating documentation for the theme and storing it in a wiki or something else that is likely to not be updated, we have written **details** comments inline with the code. This should make it easier to know exactly what code block any specific documentation item refers to.

**Simple** run npm install to get the necessary packages, then run npm start to scan the files and fix any issues

[2021-08-30 12:29] msayoung opened #126 "Readme in the css directory is out of date"
https://github.com/localgovdrupal/localgov_base/blob/1.x/css/README.md

[2021-08-31 10:56] #117 closed, assigned to nobody

[2021-08-31 11:13] markconroy commented on #116
I created the new tabs region, so we'd have a unified approach to tabs across all LocalGov Drupal sites. And to make sure that tabs don't interfere with anything (like a hero) that might make use of absolutely positioned elements on the page. Tabs really shouldn't be part of the page order, so I placed them at the top.

The "no styling for tabs" issue is a very small issue at the moment while gett

[2021-08-31 15:21] markconroy commented on #120
I'm going to create a spin-off issue for the "add extra fractions" as that's become a little more complex when I was implementing it.

[2021-08-31 15:24] markconroy commented on #120
PR for this issue is here: https://github.com/localgovdrupal/localgov_base/pull/127

[2021-08-31 15:25] markconroy commented on #120
Mobile
![mobile](https://user-images.githubusercontent.com/2183332/131530767-a8861326-eec6-438d-9e11-9830839c5843.jpg)

Tablet
![tablet](https://user-images.githubusercontent.com/2183332/131530772-8f67bde8-f044-465f-bdd4-91957d9c128d.jpg)

Desktop
![desktop](https://user-images.githubusercontent.com/2183332/131530762-afe78ac0-b89d-47b4-a4bb-45bcc2641de6.jpg)

[2021-09-01 11:03] markconroy opened #128 "Add new (more) fractions for the grid system"
Spin off from https://github.com/localgovdrupal/localgov_base/issues/120

Some councils (Croydon) have suggested they would like more fractions in the grid system, so they can base their designs on a 12 grid layout.

Currently we have
 - one quarter (3/12)
 - one third (4/12)
 - one half (6/12)
 - two thirds (8/12)
 - three quarters (9/12)
 - full (12/12)
 -
This issue is to create the other fract

[2021-09-01 11:09] markconroy commented on #128
What I think this might mean is removing the `--spacing` part of the grid system and adding a `.spacing` class in each row where needed instead. This would mean no spacing between each column, unless explicitly placed. This makes the grid more flexible, but does mean more maintenance and higher barrier to entry.

I'm nervous about completing this. It is going to have issues with responsiveness. Fo

[2021-09-01 13:19] markconroy opened #129 "Make grid-row --spacing variable configurable"
Currently we have all .grid-row__* classes set to have a spacing between them of whatever value our `--spacing` variable is - probably 1rem for most sites.

Let's change that to be configurable, by using `--grid-column-spacing` and then "apply" that in our `variables.css` file, setting it to `--spacing`. So all current sites will not break, and all future sites can set `--grid-column-spacing` to w

[2021-09-01 19:57] drinkynet opened #130 "Safari outlines the main content"
Safari (iOS and Mac) outlines the main element when its clicked or tapped on as [it has a tabindex](https://github.com/localgovdrupal/localgov_base/blob/1.x/templates/layout/page.html.twig#L103). It may need outline:none applying to it to hide it.

![iOS safari outline on main element](https://user-images.githubusercontent.com/6780886/131735287-e4bd7bf4-e6c4-4dd4-9db6-e609e7fd095b.png)
![MacOS saf

[2021-09-01 20:01] finnlewis commented on #130
@markconroy noticed in our OxDUG meetup!

[2021-09-02 13:12] drinkynet commented on #125
There are typos in the opening paragraph too:

Suggested alternate wording for it:

[2021-09-07 20:06] markconroy commented on #130
Here's a PR for this issue
https://github.com/localgovdrupal/localgov_base/pull/131

[2021-09-07 20:11] markconroy commented on #129
PR for this issue - https://github.com/localgovdrupal/localgov_base/pull/132

[2021-09-08 06:55] danchamp commented on #130
Nice catch, thanks @drinkynet

[2021-09-10 10:37] markconroy opened #133 "clear:both for events listing vie"
https://github.com/localgovdrupal/localgov_events/issues/48

[2021-09-10 13:31] markconroy opened #134 "grid row one-third is not one-third"
let's change our calc from
    width: calc(33% - var(--spacing));

to
    width: calc((100% / 3) - var(--spacing));

[2021-09-10 13:40] finnlewis opened #135 "Subsite page banner image floats left"
Hi @markconroy

On this subsite page: https://demo.localgovdrupal.org/bereavement-services/choosing-memorial

The banner image could do with central alignment of some sort.

![image](https://user-images.githubusercontent.com/326588/132862376-5ba16a6a-13b3-4222-8119-f8ecb20241f6.png)

[2021-09-11 20:53] markconroy commented on #121
What's changed?

1. The "menu" button on small screens opens the **search + menu + services list**
2. The "Services" button only shows on large screens
3. Refactoring of the menu regions on small screens for better/more consistent layout
4. A small amount of refactoring for slightly better layout of the menu/search block on large screens

The PR in #136 will make the mobile menu look like this:

!

[2021-09-11 20:54] markconroy commented on #135
Thanks @finnlewis

I noticed that last week, but forgot to create an issue for it. I think that banner is supposed to go full width, rather than just centered. I'll get that done next week.

[2021-09-15 13:42] msayoung commented on #121
@markconroy
Great plan
Unfortunately when i check out this branch locally the menus won't open, either at desktop or mobile layouts.

[2021-09-16 12:01] markconroy commented on #121
Sorry, I had missed a typo in a parameter name.

[2021-09-16 12:01] markconroy commented on #121
fixed now

[2021-09-16 13:47] markconroy commented on #121
Closed via PR #136

[2021-09-16 13:47] #121 closed, assigned to finnlewis, markconroy, msayoung

[2021-09-16 13:49] markconroy commented on #134
Fixed in `41ea9da`

[2021-09-16 13:49] #134 closed, assigned to nobody

[2021-09-16 13:50] markconroy commented on #130
Closed by #131

[2021-09-16 13:50] #130 closed, assigned to danchamp, markconroy

[2021-09-16 14:38] markconroy commented on #120
Closed via #127

[2021-09-16 14:38] #120 closed, assigned to msayoung

[2021-09-16 15:28] markconroy commented on #129
Closed via #132

[2021-09-16 15:28] #129 closed, assigned to nobody

[2021-09-16 19:56] #135 closed, assigned to markconroy

[2021-09-17 13:55] markconroy opened #138 "Create darker border for box-links"
Create darker border for box-links so they look more like buttons.

[2021-09-17 14:22] #138 closed, assigned to markconroy

[2021-09-21 15:55] andrew-wallis opened #472 "Date component needs styling"

[2021-09-30 16:04] danchamp opened #141 "Remove redundant aria-describedby attribute from link and summary paragraph type"
The aria-describedby attribute has an invalid value (should be an element id) and is redundant:

https://github.com/localgovdrupal/localgov_base/blob/12c21a3a28710c3031333e28ea7ef786202fe161/templates/paragraphs/paragraph--localgov-link-and-summary.html.twig#L69

[Accessibility audit: issue 43](https://docs.google.com/spreadsheets/d/1t8rRIQe_1kogxPBZDKcsbf8YxtEfC9iGJvidkagNSXY/edit#gid=1779042480&

[2021-10-01 07:15] markconroy opened #142 "Mobile menu closes on phone when you scroll"
When you open the mobile menu on a phone, and then scroll the menu disappears because the `window.resize` JS gets called (I think because scrollbars are then present which means technically the window has changed size).

[2021-10-01 13:24] #141 closed, assigned to danchamp

[2021-10-04 17:55] danchamp opened #146 "Alert banner hide button aria-labels lack context - all 'Hide alert'"
[Accessibility audit ref 62](https://docs.google.com/spreadsheets/d/1t8rRIQe_1kogxPBZDKcsbf8YxtEfC9iGJvidkagNSXY/edit#gid=1779042480&range=D63)

The aria-label for the hide button on alert banners is set to 'Hide alert'. If there are multiple alert banners live at the same time, they all use the same aria-label, so there's no context for the user to know which alert the button will hide.

Suggest

[2021-10-05 10:49] msayoung opened #147 "Menu does not work in IE11"

[2021-10-05 11:21] markconroy commented on #147
The issue is that IE11 doesn't support enough of the ES6 syntax. I'll get a PR for that asap.

[2021-10-05 11:42] #147 closed, assigned to markconroy

[2021-10-06 19:49] markconroy opened #150 "Default theming for forms"
Let's get some default theming for our forms, so the look snazzy right out of the box.

[2021-10-06 19:56] markconroy commented on #133
Closing, as has been addressed in the events repo

[2021-10-06 19:56] #133 closed, assigned to markconroy

[2021-10-11 10:36] finnlewis commented on #150
@markconroy for reference, @ekes did a bunch of work on forms for https://beta.lambeth.gov.uk/feedback-form back in the day.

@ekes could you dig out a link?

[2021-10-12 09:06] ekes commented on #150
No one neat commit. CSS be https://github.com/localgovdrupal/localgov_skeleton/blob/1.x/assets/css/gds.css and it doesn't look like I did much to the templates (except restore some defaults that were removed at the time) https://github.com/localgovdrupal/localgov_skeleton/tree/1.x/templates/form_element

[2021-10-12 11:41] stephen-cox commented on #79
Done - sprint 6

[2021-10-12 11:41] #79 closed, assigned to danchamp, msayoung

[2021-10-15 08:26] #150 closed, assigned to markconroy

[2021-10-19 08:40] graham-web opened #153 "CSS aggregation breaks subthemes"
Enabling Drupal's 'Aggregate CSS Files' option while using a child theme of localgov_base makes all of the localgov_base styling disappear.

Steps to reproduce:
1. Generate child theme via `scripts/create_subtheme.sh`
2. Enable and set default child theme - this looks OK
3. Switch on CSS aggregation

This should have no effect visually, but causes practically all styling to disappear:

![Screensho

[2021-10-19 08:47] graham-web commented on #153
I tried removing the reference to `localgov_base/global` from `localgov_base.theme` and adding it to my subtheme's `foo.info.yaml`, but this didn't help.

Removing the reference to the `subtheme/variables` library **does** resolve the issue, but obviously hinders theming!

[2021-10-19 23:25] graham-web commented on #153
This turned out to be a manifestation of a [long-standing Drupal core bug around aggregation of @import rules](https://www.drupal.org/project/drupal/issues/2936067)

The google fonts URL included in the default subtheme variables.css has semicolons, which triggers the bug and mangles all the rest of the CSS in that aggregation group.

A fix was committed to the Drupal core 9.2.x branch just last w

[2021-10-21 15:27] tom-steel commented on #472
Here's our design system reference: https://www.croydon.gov.uk/design-and-content-guidelines/components/forms/date-input

And the GDS design system reference: https://design-system.service.gov.uk/patterns/dates/

[2021-11-08 15:36] andybroomfield opened #154 "System messages are no longer displaying"
Using Localgov_base and themes that derive from it.
Even though the messages block is placed in the messages region, and this is being rendered in the theme, the messages themselves are not being rendered.

Tested by doing a flush cache which should set a status message.
This works in Bartick and Localgov_theme.
Does not show in localgov_base and child theme.

[2021-11-08 17:15] andybroomfield commented on #154
Its this section in localgov_base.theme.

[code]
Removing it brings the messges back (have to force set the has_messages etc variable though).
Is this then marking the section as rendered already so its not triggered, even though it is a copy?

[2021-11-08 17:56] andybroomfield commented on #154
Removing the copy variable seems to solve this.
Changing
[code]
to
[code]
Would this likly effect anything else?

[2021-11-09 11:38] andybroomfield commented on #154
Applying the above fix however breaks the map view on a directory channel.
I guess that is the reason to render it in a copy?

[2021-11-09 16:58] #142 closed, assigned to nobody

[2021-11-09 16:59] markconroy opened #155 "header.js breaks when there are no blocks in primary menu region"
If there are no blocks in the primary menu region, the header.js fails, since it can't find the primary-menu-toggle class.

[2021-11-09 19:32] #155 closed, assigned to nobody

[2021-11-10 17:10] markconroy commented on #153
Thanks very much for ereporting and debugging this for us @graham-web .

I think to be on the safe side, I'll remove the @import in the subtheme template. There's already a note in that file that using this is not a best practice (from a performance point of view), and we can add it via the html.html.twig file, like we say it should be done.

Thanks.

[2021-11-10 17:10] markconroy commented on #153
Re-opening, so I can work on this.

[2021-11-16 12:00] justinepocock opened #460 "WYSIWYG alert styles are incorrect"
`.alert-success` is missing from wysiwyg-styles in localgov_base, falling back to `.alert` which could be the wrong colour/impression

in the wysiwyg config `p.alert.alert-primary|Alert failure` but there is .alert-fail in the CSS.

.alert-fail {
  border-color: var(--color-warning);
}

<img width="1680" alt="image" src="https://user-images.githubusercontent.com/638213/141980771-a3bc55a3-6e60-4fb6

[2021-11-17 12:40] markconroy commented on #153
Hi @graham-web

Here's a PR to fix this issue - https://github.com/localgovdrupal/localgov_base/pull/158

Would you (or anyone else perhaps) please test it. You just need to create a subtheme using the subtheme script, and then see that the site works even with CSS aggregation turned on.

Thanks.

[2021-11-17 12:44] justinepocock commented on #153
I can take a look

[2021-11-17 12:56] justinepocock commented on #153
This works fine. It's good to have the sample library example too.

[2021-11-17 13:05] markconroy commented on #153
Thanks @justinepocock

This is now fixed and released in 1.2.2 of localgov_base.

[2021-11-17 13:05] #153 closed, assigned to nobody

[2021-11-19 08:18] markconroy commented on #154
I wonder why this affects the messages block, but not other blocks? And I wonder why your line change fixes the messages block, but breaks (at least) one other block?

[2021-11-22 09:54] andybroomfield commented on #154
@markconroy My guess is that the messages block renders a placeholder, so rending the copy might be causing the placeholder for the messages to generate be put into the copy so it won't show. Whereas rending the region itself might be adding in some extra libraries that when re-rendered arn't being attached, as its javascript elements like maps on directories that break.

[2021-11-22 14:28] finnlewis commented on #154
Discussing in 'merge monday'. Interesting! @stephen-cox and @finnlewis hope to find some time to investigate this also.

[2021-12-08 16:18] tom-steel opened #160 "Directory areas should pick up colours from base theme pallet"
When a directory item has an area, the outline of the area is a light blue colour, which is not in use anywhere else on the site.

Can the styling pick up a colour and tint from an existing colour that's already been defined in the theme

**Example URL**
[demo.localgovdrupal.org/national-parks-uk](https://demo.localgovdrupal.org/national-parks-uk?f%5B0%5D=localgov_directories_facets%3A8)

**Exampl

[2022-01-04 15:04] MattOz-CDS commented on #160
My understanding is that the default stroke colour for a polygon borders is provided by leaflet.js. [This](https://gis.stackexchange.com/questions/228214/how-to-give-color-to-polygon-border-in-leaflet-map) post over at Stack Exchange suggests a way in which it can be overridden.

My questions would be, should we follow the Stack Exchange example and create a Drupal behaviour within in the localgov

[2022-01-04 17:04] tom-steel commented on #160
I like this approach @MattOz-CDS .

Do you have any thoughts about the best way of using styles defined in the theme for directory shapes @markconroy ?

[2022-01-06 14:12] markconroy commented on #160
@tom-steel do you want to test this attached PR?

Turns out this is very simple for us. The stroke colour is set inline in the SVG via the `stroke` attribute. So I just created a CSS variable `--leaflet-map-outline-stroke-colour` in the base theme (set to the same blue as the current default so no sites break), and now any theme can set that variable to whatever they want.

[2022-01-06 14:20] MattOz-CDS commented on #160
Thanks @markconroy. Nicely done and much appreciated.

[2022-01-06 14:42] tom-steel commented on #160
Will that variable automatically override the hard coded stroke styling in leaflet.js then? No other JS needed?

[2022-01-06 16:41] markconroy commented on #154
I've made a change here to:

1. Add an array of "special" regions such as messages (currently only messages region is in the array)
2. If an item is in this array, we render it, but not via $copy
3. Added the messages.css file to the global library (it wasn't getting loaded via the template, I think because the template in this case renders too late)

PR #162

[2022-01-06 16:59] markconroy commented on #160
Yes, that's exactly what it does. I set it to the same colour that is currently used by leaflet so anyone currently using it will have no effect on their sites unless they specifically choose to set a different colour.

Let me know once it's tested and we can get it merged and deployed.

[2022-01-10 14:16] #160 closed, assigned to nobody

[2022-01-17 12:08] markconroy opened #164 "Add nvmrc, stylelint, etc to subtheme generator, so subthemes can auto follow drupal coding standards"

[2022-01-19 10:21] markconroy opened #165 "Improve layout of header toggle buttons"
The header toggle button layout (text with icon beside it) is a little off. See here:
![current](https://user-images.githubusercontent.com/2183332/150111494-68a40722-fea9-4ebf-8ceb-3d7d008f0e2b.jpg)

Let's change the CSS slightly to have a better alignment, see here:
![proposed](https://user-images.githubusercontent.com/2183332/150111498-f12efaf3-24d7-4424-8cf6-42e6f0eb4518.jpg)

[2022-01-19 10:45] justinepocock commented on #165
This fix works well in a bunch of browsers and breakpoints. Thanks for sorting this niggle out!

[2022-01-19 10:46] willguv commented on #165
Hi @markconroy, this is great - thank you.

Can I be a bit cheeky and suggest another possible fix? It's always bugged me that Services, Docs, Github links and the search box don't sit on a line together, and are aligned middle. [Like Cumbria](https://new.cumbria.gov.uk/births-deaths-marriages-and-ceremonies).

Is there any reason for this? And is it an easy fix?

Cheers

[2022-01-19 15:49] markconroy commented on #165
@willguv We can make it look like this with a relatively small amount of work. Does this look okay?

![Screenshot 2022-01-19 at 15 48 56](https://user-images.githubusercontent.com/2183332/150166018-877559f6-fa21-4202-bf93-fdcf7e160dd2.jpg)

[2022-01-19 15:50] markconroy commented on #165
I'm going to merge this issue, and we'll open a new on if we are in agreement that we will do that new header layout.

[2022-01-19 15:50] #165 closed, assigned to nobody

[2022-01-19 16:23] willguv commented on #165
@markconroy the minor changes you suggested are perfect - please do open a new issue

[2022-01-20 09:52] markconroy opened #167 "Improve layout of header menu/search/buttons section"
Currently, our default header looks like this:

![Screenshot 2022-01-20 at 09 51 40](https://user-images.githubusercontent.com/2183332/150315105-1ad8450f-2718-4241-948e-897c3ebfe0f0.jpg)

Let's make it look like this:

![150166018-877559f6-fa21-4202-bf93-fdcf7e160dd2](https://user-images.githubusercontent.com/2183332/150315039-1fadbd31-2d2f-4aa7-be40-f84586cd53f3.jpg)

[2022-01-20 13:50] justinepocock commented on #167
This works well and is an improvement to the alignment of the header items.

Two small points, that might well be new tickets or not even worth LGD considering.

1. On tablet sized things the search sits next to the links which is ok but having it to the right, underneath the services button might be nicer. Maybe this is too much styling for a base theme?
<img width="1680" alt="image" src="https:/

[2022-01-20 13:59] markconroy commented on #167
Thanks @justinepocock

I'll merge what we have, since it's an improvement, and we can create follow-ups for the your suggestions.

[2022-01-20 13:59] markconroy commented on #167
Closed via PR #168

[2022-01-20 13:59] #167 closed, assigned to nobody

[2022-01-21 11:37] justinepocock commented on #164
I created a new theme, enabled it, made some questionable css and ran npm install and npm start - style linter did its job.

I think maybe the readme section could be copied or a new one generated to include the parts about the coding standards.

This works.

[2022-01-24 14:11] finnlewis commented on #83
Just thinking about this on Merger Monday call.
@markconroy has no objections
@stephen-cox suggests just adding the standard tests, then reviewing further addition of theme specific tests later.
@andybroomfield no objection.

Passing this to @stephen-cox to take a look at adding the basic tests.

[2022-01-24 14:15] andybroomfield commented on #154
Can consider fixed?

[2022-01-24 14:17] andybroomfield opened #171 "The generated sub theme name is still LGD_SUB_THEME_NAME"
When running the create subtheme script, the theme name as called in THEMENAME.info.yml still uses the name
`LGD_SUB_THEME_NAME`.
This should be updated to use the theme name that was entered when running the generation script.
<img width="1401" alt="Screenshot 2022-01-24 at 2 14 09 pm" src="https://user-images.githubusercontent.com/1467480/150799376-f8aa2808-dca2-4e34-a3a0-182d98683693.png">

[2022-01-24 14:18] andybroomfield commented on #171
I'm also getting this error

[2022-01-24 14:26] andybroomfield commented on #171
This is on MacOS 10.14 (I'll check on a more recent one later).
PHP 7.4

Also tried with Lando (using lando ssh and running the bash command).
This works ok.

[2022-01-24 14:27] stephen-cox commented on #154
Yep - this was fixed #162

[2022-01-24 14:27] #154 closed, assigned to andybroomfield

[2022-01-24 14:51] finnlewis opened #174 "Consider supporting the ModernGov 'reverse CMS' template out of the box"
Coming from https://github.com/localgovdrupal/localgov_moderngov_tpl/pull/1

It would be good to support this by default, which maybe needs us to add the template to the localgov_base theme.

[2022-01-24 14:52] markconroy commented on #164
Closed by #169

[2022-01-24 14:52] #164 closed, assigned to nobody

[2022-01-24 14:56] finnlewis commented on #174
@Adnan-cds does this make sense? Will it all hang together nicely if we have the right twig template in the localgov_base theme?

[2022-01-24 15:23] markconroy commented on #174
Do we have a test instance of Modern Gov that we can use to test these templates against?

[2022-01-25 13:40] Adnan-cds commented on #174
Hi Finn, yeah, that should do.

Hi Mark, I will try to come up with some setup instructions for you.  Hopefully within a day or so.

[2022-01-26 14:46] Adnan-cds commented on #174
- First, install the new code:
[code]
- Next login as site admin.
- Create a new node or pick an existing node that you want to use as the ModernGov page.  Note down its node id.
- Save the above node id from /admin/config/content/moderngov/settings.
- Log out a load that node.
- If the test site is reachable over the web then you can test it at ModernGov's [test site](https://reversecms.moderngov

[2022-01-28 14:59] markconroy opened #176 "Align icons in status messages better."
Current:
![Screenshot 2022-01-28 at 14 59 24](https://user-images.githubusercontent.com/2183332/151569483-fa66d340-ff96-4f2a-b591-54494d0d87a9.jpg)

With patch:
![Screenshot 2022-01-28 at 14 58 40](https://user-images.githubusercontent.com/2183332/151569492-03b8e604-e246-416b-a117-dc80d31c307c.jpg)

[2022-01-28 15:08] markconroy commented on #174
Thanks very much @Adnan-cds

[2022-01-28 15:28] justinepocock commented on #176
As we say in bristol, Cheers Drive, this is gurt lush.

Or Thanks Sir, this works really well.

[2022-01-28 15:45] #176 closed, assigned to nobody

[2022-01-31 12:10] cjstevens78 opened #178 "Fix issue with class naming on forms radios"
Turns out the class being used to target radios for drupal forms actually uses the 'name' given which is itself defined by the 'title' chosen by the editor. So the class used '.form-item-radios' only works if the radio button set has a title of 'radios' .. so for example if my new set was called 'Chris Test' the class would change to '.form-item-chris-test' ... obviously this wont do so it needs t

[2022-01-31 14:06] #171 closed, assigned to nobody

[2022-01-31 14:07] markconroy commented on #178
Thanks very much for this @cjstevens78

I'll get it fixed asap.

[2022-01-31 14:10] markconroy commented on #178
Oh, I see you have a PR already. Magic. Thanks.

[2022-02-03 15:17] markconroy commented on #178
Merged. Thanks very much @cjstevens78

[2022-02-03 15:17] #178 closed, assigned to nobody

[2022-02-17 11:55] markconroy commented on #125
Fixed in `a33f384`

[2022-02-17 11:55] #125 closed, assigned to msayoung

[2022-02-17 11:59] markconroy commented on #17
Checked each content type. Only services and service landing page didn't give reader view.

However, reader view is decided by the browser, not the frontend theme, on a page-by-page basis, so if a page has too many components (box links, banner, teasers, etc) that can affect the browsers ability to render a reader view.

[2022-02-17 11:59] #17 closed

[2022-02-17 12:01] markconroy commented on #116
This was taken care of in localgov profile: https://github.com/localgovdrupal/localgov/blob/2.x/config/install/block.block.localgov_tabs_base.yml

[2022-02-17 12:01] #116 closed, assigned to markconroy

[2022-02-17 15:35] markconroy commented on #126
Fixed in `fa61e2a`

[2022-02-17 15:35] #126 closed, assigned to msayoung

[2022-02-28 14:34] #83 closed, assigned to stephen-cox

[2022-04-13 15:15] markconroy opened #184 "Consider placing "Next" button on step-by-step inline with content instead of after sidebar"
Current:
!["Next" button after sidebar](https://user-images.githubusercontent.com/2183332/163213056-6222b025-d9ed-4781-8667-320cfa662ffb.jpg)

[2022-04-20 09:29] markconroy opened #185 "Add class to allow grid items to be centered"
add .lgd-row--centered class to base theme grid.css

[2022-04-21 09:52] #185 closed, assigned to nobody

[2022-04-22 10:38] markconroy opened #187 "Set main canvas div to position:relative"
In future (e.g. when creating an off-canvas region for microsites, or perhaps for some hero positioning) we might need to use `position: absolute;` to place some items.

This will cause these  items to cover the toolbar when they are active. Setting the main canvas region to relative will stop this.

[2022-04-22 12:20] markconroy opened #189 "Add gitignore to subtheme generator"
Add a .gitignore file to the themes generated by the subtheme generator to ignore node_modules and .stylelintrc

[2022-04-25 13:15] #187 closed, assigned to nobody

[2022-04-25 13:15] #189 closed, assigned to nobody

[2022-04-25 16:04] msayoung opened #192 "Support theme option in subsites"
On a subsite overview page, a content editor can select a Visual theme option.

This value was designed to be passed as a class to the page template, but we are currently not printing this in the page.html.twig

`Lines 119 - 144 https://github.com/localgovdrupal/localgov_subsites/blob/2.x/localgov_subsites.module`
So to get this working we need to add something like `{{ attributes.addClass(classes

[2022-04-25 16:11] msayoung commented on #192
@markconroy remind me why the {{ page.banner }} ended up outside of the `<main> `

Inherited from the old theme?

[2022-05-05 07:54] markconroy commented on #192
The {{ page.banner }} (if I remember correctly) is outside `<main>` (presuming that's what's missing in your comment above!!!) because of the general site structure - the need for the breadcrumbs coming after the banner.

I guess we could add a theme setting to place the banner after breadcrumbs and vice versa. Then a simple conditional in the page.html.twig file for where to render it.

I wasn't

[2022-05-05 08:46] markconroy opened #195 "Include .h1, .h2, etc in our h1, h2 declarations in base.css for font-family"
I'm not sure why this was left out of the original base.css, as we have it included for font-sizes. Let's fix that.

[2022-05-09 13:06] #195 closed, assigned to nobody

[2022-05-09 15:24] budda opened #198 "Change Search form block submit button text"
Currently, the search form submit button label says "Apply" which doesn't make sense.

Some councils use "GO" as the button text, others have simply got an icon for a button.

[2022-05-09 15:50] markconroy commented on #198
- I don’t like the word “Go”. I’m not sure that signifies what the form is going to do. If we are going to change the word, I’d suggest we change it to “Search”, since this is what will happen when you press the button.
- I’d be against the idea of an icon only (at least in our base theme) from the point-of-view of accessibilty. At minimum we’d need to have text that’s available to screen readers

[2022-05-09 15:52] budda commented on #198
At the moment the placeholder text in the textfield says "Search" too -- maybe that should be "keyword" or "phrase" otherwise the UI looks like

<img width="337" alt="Screenshot 2022-05-09 at 16 51 57" src="https://user-images.githubusercontent.com/104929/167448519-1f39004c-81ef-4a3c-8535-6023d4c3f80f.png">

[2022-05-09 15:52] willguv commented on #198
@markconroy how about "Search" as that's what the button does

[2022-05-10 08:22] markconroy commented on #198
Looks like this is an issue for the Localgov Search module, not the base theme, as it's stored in config there:
https://github.com/localgovdrupal/localgov_search/blob/1.x/config/install/views.view.localgov_sitewide_search.yml

[2022-05-10 08:23] markconroy commented on #198
@finnlewis Do you know how to transfer an issue from one repo to another? If so, can you move this to LocalGov Search module please?

[2022-05-18 14:30] stephen-cox opened #204 "Error thrown when removing regions from subthemes"
Errors like the following are thrown:

[code]

[2022-05-19 09:40] #204 closed, assigned to nobody

[2022-06-06 14:02] cjstevens78 opened #209 "Duplicate variable fix for wysiwyg btn-start"
https://github.com/localgovdrupal/localgov_base/pull/210

[2022-06-06 14:09] cjstevens78 commented on #209
I have just been working on the .btn-start buttons and wanted a different value for vertical padding to horizontal padding... I noticed there was a vertical padding variable available but not used so I have amended to include it.

[2022-06-09 21:25] markconroy opened #211 "box links margin bottom causes layout issue"
Too much space on first item.

[2022-06-10 08:34] markconroy opened #213 "Use variables for footer font/link colours"

[2022-06-10 09:03] markconroy opened #215 "Add more icons to base theme"

[2022-06-10 09:17] #211 closed, assigned to nobody

[2022-06-10 09:18] #213 closed, assigned to nobody

[2022-06-10 09:18] #215 closed, assigned to nobody

[2022-06-10 13:43] markconroy opened #218 "Allow our grid to align items vertically center"

[2022-06-28 15:32] msayoung opened #225 "Inline field label"
Our inline field labels don't display currently display inline.

IE
If i set a field's label to display inline in Manage Display

[2022-06-30 11:11] markconroy opened #227 "Subthemes that change CSS properties are not respected!"
When we create a sub theme, and add some CSS it's usually because we are adding a property that does not already exist to an item.

E.g on 'Call Out Quote' - quote.css, we might add in an overrides.css file in a subtheme something like this:

[code]

And this works fine, because `color` had not been set  in the parent theme. This means our "additive" CSS works, but if we add something like this in

[2022-06-30 12:10] #227 closed, assigned to nobody

[2022-07-04 10:50] markconroy opened #230 "Add more layout widths"
These are handy utilitity classes that we can drop into templates for various widths for items on the website, if we don't want all containers to be the same width.

[2022-07-04 10:58] #218 closed, assigned to nobody

[2022-07-04 10:58] #209 closed, assigned to cjstevens78

[2022-07-04 10:58] #174 closed, assigned to nobody

[2022-07-04 11:04] markconroy opened #232 "Use libraries-extend to add libraries in sub theme"

[2022-07-04 13:23] #230 closed, assigned to nobody

[2022-07-05 09:45] #232 closed, assigned to nobody

[2022-07-06 13:33] rupertj opened #234 "Block won't appear"
I've had an issue today where a block I've created would appear with the title displayed, but hid when the title was hidden, or would display just fine alongside another block in the same region, regardless of if the title was set to display or not.

I've tracked this down to the code in localgov_base_preprocess_page() which renders the regions and strips out HTML tags to determine if the region i

[2022-07-07 10:02] danchamp opened #236 "input[type="url"] missing from form-items.css"
Webform provides a URL element that sets the input type to url.

localgov_base doesn't include `input[type="url"]` in form-items.css, resulting in URL elements having inconsistent styling.

[2022-07-07 10:24] #236 closed, assigned to danchamp

[2022-07-12 11:04] msayoung opened #239 "Template for localgov-page-section"
Now we've [moved config for the layout paragraph field in to localgov_paragraphs](https://github.com/localgovdrupal/localgov_paragraphs/pull/62) (rather than being restricted to microsites) we should move this template in to localgov_base.

https://github.com/localgovdrupal/localgov_microsites_base/blob/1.x/templates/paragraphs/paragraph--localgov-page-section.html.twig

[2022-07-13 10:46] danchamp opened #241 "Radio buttons with Webform element type 'Radios other' are not being styled"
Webform offers two types of element for groups of radio buttons: 'Radios', and 'Radios other'.

They have different wrapper classes, and localgov_base currently only targets the former, and styles are not being applied to radios within 'Radios other' elements.

[2022-07-18 10:17] #239 closed, assigned to msayoung

[2022-07-18 10:21] #241 closed, assigned to danchamp

[2022-07-19 10:12] Adnan-cds opened #244 "Persistent status message on node page"
The node add/edit feedback message becomes persistent when that node is reloaded.  This happens with the localgov_base theme and its subthemes.

## Reproduction steps
- [Optional] Install a fresh localgov site.
- Login and create a node such as a Service page.
- As expected, the status message will say *Service page PAGE-TITLE has been updated.*
- Reload the newly created node while logged in as t

[2022-07-19 15:52] markconroy opened #245 "Add 'magnifying-glass.svg' and 'plus.svg' to icons"
This is very common for search icons.

[2022-07-20 08:40] markconroy commented on #244
Thanks @Adnan-cds

I hadn't noticed this for some reason. If you figure out the reason, a PR would be great. I have a feeling it _might_ have something to do with this: https://github.com/localgovdrupal/localgov_base/pull/235

[2022-07-20 09:23] Adnan-cds commented on #244
Okay, no problem Mark.  I will have a look.

[2022-07-21 11:49] #245 closed, assigned to nobody

[2022-07-21 11:52] markconroy commented on #234
This is fixed from PR #235

[2022-07-21 11:52] #234 closed, assigned to nobody

[2022-07-21 14:46] markconroy opened #249 "Rewrite template for newsroom-teaser"
The newsroom teaser template in localgov_paragraphs is not following Drupal coding standards. Let's rewrite it and add some basic styling for it as well.

[2022-07-22 09:57] #249 closed, assigned to nobody

[2022-07-25 09:09] markconroy opened #251 "Create status-page template - 404, 403, etc"
Let's create a status page template page--404.html.twig and page--403.html.twig so we can have specific layout on these pages.

This is mostly to remove the sidebars, so that we don't have sidebar blocks in 40x pages (as is currently happening in microsites if you to to /events but that microsite doesn't use the events content type.

[2022-07-25 11:37] #251 closed, assigned to markconroy

[2022-07-26 19:29] markconroy opened #254 "Use theme font in forms"
Currently the form items - input, textarea, select, etc - are using the user agent stylesheet for fonts. Let's explicitly set them to use the same font as the body of the website `--font-primary`.

[2022-07-26 20:12] markconroy opened #256 "Add arrow icon to base theme"
https://github.com/FortAwesome/Font-Awesome/blob/6.x/svgs/solid/arrow-right.svg

[2022-07-29 08:50] #256 closed, assigned to nobody

[2022-07-29 08:53] #254 closed, assigned to nobody

[2022-07-29 15:10] markconroy opened #258 "Add some (more) icons"

[2022-07-30 17:07] #258 closed, assigned to nobody

[2022-08-03 13:51] markconroy opened #261 "Don't break items in guide nav onto next column"
When some items in our guide nav have long titles, they can spill over into the next column, which is quite jarring.

Take for example the last item in the second column here which overflows into a first item in the third column.
![Screenshot 2022-08-03 at 14 49 07](https://user-images.githubusercontent.com/2183332/182624945-2ec3c2a8-2585-4941-a137-7285d615f4c2.jpg)

[2022-08-08 13:31] #261 closed, assigned to nobody

[2022-08-09 11:37] markconroy opened #264 "Add default styling for sitewide search results"
Currently, this looks like this:

![Screenshot 2022-08-09 at 12 55 23](https://user-images.githubusercontent.com/2183332/183641143-4bcd44c9-35a3-4335-9f93-522a136b8461.jpg)

I think we can do better.

[2022-08-12 16:50] markconroy opened #268 "Add checkmark icon"

[2022-08-12 16:57] #268 closed, assigned to nobody

[2022-08-23 11:05] alanburke opened #272 "Outputting file title as a link causes error for anonymous users"
User who don't have access to the file just uploaded are shown a string.
The current code means this causes an error as it assumes a link is to be rendered.

MR incoming

[2022-09-01 09:29] markconroy opened #274 "Add CSS for form errors"
Now that we have a form-errors template, let's style the errors. Here's what it currently looks like (note the "Unrecognized username or password" error message - it's hard to see without putting some error-type CSS on it).

![Screenshot 2022-09-01 at 10 28 50](https://user-images.githubusercontent.com/2183332/187881467-e96ac0e3-775f-4e3f-b21f-f9218b3aa5d5.jpg)

[2022-09-01 11:22] #274 closed, assigned to nobody

[2022-09-05 14:36] #272 closed, assigned to nobody

[2022-09-07 09:37] danchamp opened #276 "Define default text input font family"
Currently the theme doesn't declare a font family for text inputs and will use system fonts:

<img width="680" alt="Screenshot 2022-09-07 at 10 33 30" src="https://user-images.githubusercontent.com/261421/188845609-4d4d934b-392f-4911-91f3-8ded89afdb2b.png">

[2022-09-07 09:56] #276 closed, assigned to danchamp

[2022-09-13 09:47] markconroy opened #278 "Make favicons configurable."
At the moment we have hardcoded where favicons are placed in the theme, and our subtheme script creates favicons and places them there.

## The problem
This works fine, but 2 issues have shown up recently:

1. The favicon uploader from the theme settings page doesn't work any more - most sites probably don't use this, so perhaps not a big issue
2. We can't set custom favicons in microsites since t

[2022-09-14 13:40] willguv opened #301 "Sticky footer"

[2022-09-14 13:41] willguv commented on #301
@msayoung I'm not sure if I've ever seen a sticky footer

Thinking a sticky header might be useful, but parking for now

[2022-09-14 14:01] msayoung commented on #301
A sticky footer pattern is one where the footer of your page "sticks" to the bottom of the viewport in cases where the content is shorter than the viewport height.

https://developer.mozilla.org/en-US/docs/Web/CSS/Layout_cookbook/Sticky_footers

You'll have seen them without noticing. It avoids having the footer half way up the browser if there's not much content on the page.

[2022-09-14 15:44] willguv commented on #301
@msayoung I’ve never heard it called that!

Yes this definitely needs addressing, will move it

[2022-09-22 12:37] #278 closed, assigned to nobody

[2022-09-26 09:42] markconroy opened #282 "Tabs in tabs region do not have sufficient contrast for a11y"
While testing with sa11y it was noted that our tabs do not have enough contrast.

https://github.com/localgovdrupal/localgov_sa11y/pull/2

[2022-09-26 11:47] msayoung opened #283 "Fix colour contrast error in tabs section"
with our new localgov_sa11y module, we're getting a (false) error reported that the colour contrast is failing on the active tab of our tabs.

The green / white combination is 5.13:1 which passes AA for small text.

However the plugin seems to think it's lightgrey/white

![Image](https://user-images.githubusercontent.com/3852805/192269194-7daf30fd-d022-49f1-b486-6de56c9f9cb2.png)

[2022-09-26 11:50] markconroy commented on #283
I'll close this one https://github.com/localgovdrupal/localgov_base/issues/282

[2022-09-26 11:51] #282 closed, assigned to nobody

[2022-09-26 12:03] msayoung commented on #283
Actually, I realise it's the .visually-hidden H2 which is causing the error, not the active tab, which is annoying but easily fixed.

[2022-09-26 12:05] msayoung commented on #283
https://github.com/localgovdrupal/localgov_base/pull/284

[2022-09-27 13:31] msayoung opened #285 "Review how we're printing dates across LGD"
@markconroy can you give details on what we need to do on this?

[2022-10-03 10:08] markconroy commented on #285
We need to check anywhere we are printing dates in templates like this `{{ node.field_date.value }}` and try to print it using `{{ content.field_date }}` or some other mechanism that will not give us "out by one hour" errors during daylight saying time.

Using `{{ content.field_date }}` means Drupal does all the heavy lifting for us, but `{{ node.field_date.value|date("U") }}` (or something like t

[2022-10-05 09:51] markconroy opened #287 "Layout classes not working"
Our `.lgd-container--mega` (etc) classes that are larger than the `lgd-container` class are not working, because we have them set to `width` but the `lgd-container` is set to `max-width`. This means the `lgd-container--*` classes cannot break out of the `lgd-container` class.

It will fix this issue: https://github.com/localgovdrupal/localgov_microsites_base/issues/117

[2022-10-05 10:17] #287 closed, assigned to nobody

[2022-10-06 10:13] markconroy opened #290 "Amend templates/CSS to allow background colours on page sections"

[2022-10-07 10:43] markconroy opened #292 "Media files are no longer linking to the file"
Looks like #273 means that any media documents output as "generic file" or "table of files" are not linking to the files.

[2022-10-07 10:59] markconroy opened #294 "Missing border (and classes) on fieldset form item errors"

[2022-10-07 14:09] #292 closed, assigned to nobody

[2022-10-07 14:28] #290 closed, assigned to nobody

[2022-10-10 11:01] #294 closed, assigned to nobody

[2022-10-12 11:43] msayoung opened #298 "Display Wysiwyg styles in Edit mode"

[2022-10-12 11:48] finnlewis opened #299 "unpublished node styling"

[2022-10-13 13:10] markconroy opened #303 "sticky header"

[2022-10-13 13:11] markconroy commented on #303
This is a great idea.

I reckon we should add it on the theme setting pages so sites can easily turn it on/off as part of the site config.

Maybe also an option for it to be

1. Not sticky
2. Sticky
3. Visible when you scroll up page

Whatcha think?

[2022-10-13 16:33] msayoung commented on #303
I think it's a good idea, but I think its less important than some other things, as if people feel really passionate about it they can create a custom theme to do it.

But yes, I think we should add the feature at some point.

[2022-10-13 17:04] #301 closed, assigned to nobody

[2022-10-18 15:01] #298 closed, assigned to markconroy

[2022-10-18 15:01] #283 closed, assigned to nobody

[2022-10-21 09:05] ikit-claw opened #306 "Patch error on updating localgov_base"
composer up localgovdrupal/localgov_base
Removing package drupal/core so that it can be re-installed and re-patched.
  - Removing drupal/core (9.3.22)
Deleting web/core - deleted
Loading composer repositories with package information
Updating dependencies
Nothing to modify in lock file
Installing dependencies from lock file (including require-dev)
Package operations: 1 install, 0 updates, 0 remova

[2022-10-21 09:30] markconroy commented on #306
Hi @ikit-claw

This is not an issue with localgov_base. Localgov Base does not attempt to apply any patches.

I think it's the localgovdrupal/localgov package that is trying to apply that patch. I'll move this issue to there.

Thanks for reporting.

[2022-10-21 14:27] markconroy opened #307 "Use calc for --spacing sizes"

[2022-10-21 14:29] #307 closed, assigned to nobody

[2022-10-21 15:25] markconroy commented on #264
Fixed in https://github.com/localgovdrupal/localgov_base/pull/265

[2022-10-21 15:25] #264 closed, assigned to nobody

[2022-10-21 15:27] markconroy commented on #128
Closing this for now. I don't see any councils looking for extra grid layouts.

[2022-10-21 15:27] #128 closed, assigned to nobody

[2022-10-24 13:23] finnlewis opened #309 "Override the title colour for death of a notable person with a variable"
Consider overriding the title colour with a variable in localgov_base

See https://github.com/localgovdrupal/localgov_alert_banner/pull/225

[2022-10-24 14:33] markconroy opened #310 "Title colour for death of a notable person alert banner"
Currently the title is black on a black background.

[2022-10-24 14:42] msayoung opened #320 "New page_section without width displays wider than content"
If I have a page_section with no width set:
![image](https://user-images.githubusercontent.com/3852805/197553775-3ee650ae-7f57-437d-875f-211cee2abbb0.png)
it displays wider than the main area (eg  H1)

![image](https://user-images.githubusercontent.com/3852805/197553927-76062582-1bd1-4a73-a45c-b16c40ce58dd.png)

I would expect it to default to be inline.

[2022-10-24 14:48] markconroy commented on #320
Me too!

I guess we could add a `padding-horizontal` class to it? Would that be enough?

[2022-10-24 16:20] msayoung commented on #320
probably the same classes as the contained-content ?

[2022-10-25 07:36] markconroy opened #312 "Should we add a "Back to Top" button for long pages?"
This might be a good feature to create for LGD and add it as a theme setting that can be switched on/off.

Perhaps we could add it only if you have scrolled past 1.5 times the height of the screen or something like that.

[2022-10-25 08:41] markconroy commented on #320
Exactly! That's what I thought we had.

[2022-10-25 10:33] #310 closed, assigned to markconroy

[2022-10-27 14:07] cjstevens78 opened #313 "Missing container tags for page regions"
We recently merged in the latest base theme and noticed a lot of design inconsistencies caused by a missing set of container div's surrounding 'lgd-region' blocks. Looking at what might have caused this I think it may be related to the reworking of the page.html.twig file (templates/layout/page.html.twig). This change: https://github.com/localgovdrupal/localgov_base/pull/304/commits/3a70d08fcd9e48

[2022-10-27 16:28] markconroy commented on #313
We have deliberatly set the page content region to have no container div with that commit, so then we can have full page layouts for paragraphs fields.

Each individual node template should look after the container, with `node--full.html.twig` being the fallback/catch-all if not using a custom template for a content type.

Is it working like that for you, or is there something else I am missing?

[2022-11-02 10:45] cjstevens78 commented on #313
Hi Mark, this change breaks the layout across multiple pages on our site and is preventing us from updating to the latest version of localgov_base. Are you able to confirm what changes we need to be making in order to restore these regions to how they were presented before? Thanks Chris

[2022-11-02 12:58] msayoung opened #322 "Breadcrumb links doesn't respect link colour variable"

[2022-11-02 14:04] msayoung opened #314 "using the localgov-page-section template for page-sections"
In https://github.com/localgovdrupal/localgov_base/pull/291 we added paragraph--page-section.html to use the same template as the new localgov_page_section

Remind me why we wanted to do this @markconroy ?

I've got some broken layouts which i suspect I can fix, but just wanted to check the motivation.

[2022-11-07 15:07] msayoung commented on #313
Hi @cjstevens78 and @Adnan-cds

I've looked into this and have found cause of the issues, if not the solution.

1. [Edited] In your .theme file you are adding the .lgd-row__two-thirds class to the guide page `<article>`. This is breaking the layout, so I suggest removing this, and instead adding a div inside the div.lgd-container.padding-horizontal with this class. I _think_ this should maintain y

[2022-11-07 17:36] msayoung opened #315 "Breadcrumb styling"
If we set the --breadcrumbs-background-color to anything but white we get something quite messy - see the demo site:

![image](https://user-images.githubusercontent.com/3852805/200377025-d96f26c6-ed16-4f38-9edc-8658cdc9e023.png)

I suggest we remove the margin bottom from the .breadcrumbs and add it to the .lgd-region--breadcrumb instead.

[2022-11-07 17:49] msayoung commented on #315
This has changed recently, but I can't hunt down when or why - see way back machine https://web.archive.org/web/20221013045419/https://demo.localgovdrupal.org/ from Oct 2022

[2022-11-18 13:45] clearspotmedia opened #317 "'Site slogan' toggle functionality is missing in site branding block"
As a CMS user on a fresh install of base and scarfolk, the 'Site slogan' toggle functionality has no effect.
/admin/structure/block/manage/localgov_sitebranding_scarfolk?destination=/node

You would expect it to appear in the header next to the logo.

I tested adding the functionality to this template (scarfolk just for this example):
/localgov-project/web/themes/contrib/localgov_scarfolk/template

[2022-11-30 11:16] #315 closed, assigned to nobody

[2022-11-30 12:38] msayoung commented on #322
https://github.com/localgovdrupal/localgov_base/pull/323